@import '../globalStyles/reset';

.root {

}

.bgTransparent {
  background-color: transparent;
}

.modal {

  .messageWrapper {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
  }

  .header {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c6c6c6;
    text-align: left;
  }

  .modalDescribe {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
  }

  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    font-size: 24px;
    transition: opacity .5s;

    &:hover {
      opacity: .5;
      cursor: pointer;
    }

    @media all and (min-width: 370px) {
      font-size: 20px;
    }
  }

  .title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 0;

    @media all and (min-width: 370px) {
      font-size: 24px;
    }
  }

  .formEl {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    @media all and (max-width: 762px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .inputWrapper {
    margin-left: 20px;
    width: 100%;

    @media all and (max-width: 762px) {
      margin-left: 0;
    }
  }

  .formTitle {
    max-width: 172px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;

    &.fail {
      color: #ff524f;
    }
  }

  .formSection {
    font-size: 14px;
    font-weight: 400;
    color: #88868f;
  }

  .input {
    padding: 5px 10px;
    width: 100%;
    height: 40px;
    font-weight: 400;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px #d3d4db;
    background: #fff;

    &.fail {
      border-color: #ff524f;
    }
  }

  .failMsg,
  .successMsg {
    margin: 15px 0;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #ff524f;
  }

  .successMsg {
    color: #35c500;
  }

  .select {
    width: 100%;
    background: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;


    &::-ms-expand {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background: transparent url('../../media/arrowDown.svg') center right no-repeat;
    }
  }

  .button {
    margin-top: 30px;
    padding: 15px 0;
    width: 100%;
    border: 0;
    border-radius: 10px;
    background-color: #00c590;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      opacity: .8;
    }

    &:disabled {
      background-color: #cccccc;
    }
  }

  .selectWrapper {
    position: relative;
    width: 100%;

    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 3px);
      right: 18px;
      border: 7px solid transparent;
      border-color: #000 transparent transparent transparent;
      transition: all .5s ease;
    }

    &:hover {
      &:after {
        top: 30%;
        transform: rotate(-180deg);
      }
    }
  }
}

.hidden {
  visibility: hidden;
}
