@import '../globalStyles/reset';

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.loginModal {
  position: relative;

  .header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;

    .title {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
    }

    .closeBtn {
      color: #000;
      font-size: 24px;
      transition: opacity .5s;

      &:hover {
        opacity: .5;
        cursor: pointer;
      }

      @media all and (min-width: 370px) {
        font-size: 20px;
      }
    }
  }

  .loginModalContent {
    .loginWithWrapper {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;

      .btnLink {
        padding: 10px;
        padding-left: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        max-width: 240px;
        width: 100%;
        font-size: 15px;
        color: #000;
        text-align: left;
        text-decoration: none;
        transition: color .5s;
        margin-bottom: 0;

        &:hover {
          background-color: rgba(0, 0, 0, .3);
          color: #fff;
          cursor: pointer;
        }

        .icon {
          margin-right: 15px;
          vertical-align: middle;
        }
      }
    }

    .loginDelimiter {
      display: flex;
      align-items: center;

      .lineInline {
        width: 100%;
        height: 1px;
        background-color: #949492;
      }

      .delimiterText {
        cursor: context-menu;
        color: #949492;
        margin: 15px 10px;
      }
    }

    .authForm {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 0;

      .inputLabel {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;

        &:last-child {
          margin-bottom: 0;
        }

        .inputLabelText {
          font-size: 15px;
          font-weight: 600;
        }

        .input {
          padding: 10px;
          width: 100%;
          max-width: 356px;
          border: 1px solid #949492;
          border-radius: 5px;
        }
      }

      .resetPasswordMessage {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        .resetPasswordMessageSuccess {
          background-color: rgba(0, 197, 144, 0.3);
          padding: 5px 15px;
          border-radius: 3px;
        }

        .resetPasswordMessageFail {
          background-color: rgba(161, 0, 0, 0.3);
          padding: 5px 15px;
          border-radius: 3px;
        }
      }

      .buttonsWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .forgotPasswordBtn {
          border: none;
          background-color: transparent;
          outline: none;
          font-size: 12px;
          cursor: pointer;

          &:hover {
            color: #a10000;
            font-weight: bold;
          }
        }

        .goToRegister {
          border: none;
          background-color: transparent;
          outline: none;
          font-size: 12px;
          cursor: pointer;
        }
      }

      .errorMsg {
        padding: 10px;
        display: block;
        color: #a10000;
        font-weight: 600;
      }

      .authBtnSubmit {
        position: relative;
        margin-top: 20px;
        padding: 10px;
        border-radius: 25px;
        background: #00c590;
        border: 0;
        color: #fff;
        transition: opacity .5s;
        font-weight: 600;
        font-size: 16px;

        &:hover {
          opacity: .8;
          cursor: pointer;
        }
      }
    }
  }
}

@media all and (max-width: 784px) {
  .loginModal {
    max-width: 500px;
    width: 90%;

    .loginModalContent {
      .loginWithWrapper {
        flex-direction: column;

        .btnLink {
          width: auto;
          margin-bottom: 10px;
          max-width: none;
        }
      }

      .authForm {
        .inputLabel {
          flex-direction: column;
          align-items: baseline;

          .input {
            width: calc(100% - 20px);
            max-width: none;
          }
        }
      }
    }
  }
}
