@import '../globalStyles/reset';

:global {

  .ReactModal__Content--after-open {
    opacity: 1 !important;
    transition-delay: .5s !important;
  }

  .ReactModal__Content--before-close {
    opacity: 0 !important;
    overflow: visible;
  }
  .ReactModal__Body--open {
    overflow: hidden !important;
  }

  @media all and (max-width: 1300px) {
    .ReactModal__Overlay--after-open {
      overflow-y: scroll;
    }

    .ReactModal__Content--after-open {
      top: 0 !important;
      transform: translate(-50%, 0) !important;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255, 0.7);
  z-index: 100;
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 825px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  z-index: 1001;

  .modalContent {
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #c6c6c6;
    background-color: #ffffff;
  }

  .mainModalContent {
    position: relative;
    margin: 80px auto 100px;
    padding: 20px;
    max-width: 568px;
    border: 1px solid #c6c6c6;
    border-radius: 15px;
    box-shadow: 0 7px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    box-sizing: border-box;
  }
}

@media all and (max-width: 768px) {
  .modal {
    overflow: auto;

    .modalContent {
      border-radius: 0;
    }

    .mainModalContent {
      padding: 25px 0;
      margin: 0;
      border-radius: 0;
      max-width: none;
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 100vh;
      flex-direction: column;
    }
  }
}
