@import '../globalStyles/reset';

.root {

}

.modal {
  .header {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c6c6c6;
  }

  .modalDescribe {
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }

  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    font-size: 24px;
    transition: opacity .5s;

    &:hover {
      opacity: .5;
      cursor: pointer;
    }

    @media all and (min-width: 370px) {
      font-size: 20px;
    }
  }

  .title {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border-bottom: 0;

    @media all and (min-width: 370px) {
      font-size: 24px;
    }
  }

  .plan {
    padding-bottom: 20px;

    .content {
      display: block;
      text-align: center;
    }
  }

  .planPeriod {
    font-size: 19px;
    font-weight: 400;
    transition: font-weight .5s;

    &:hover,
    &.bold {
      font-weight: 900;
    }
  }

  .toggleBtn {
    margin-right: 20px;
  }

  .monthPlan {
    margin-right: 20px;
    font-weight: 600;
  }

  .choosePlanSection {
    margin-top: 40px;

    @media all and (max-width: 992px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .planItem {
    position: relative;
    padding: 20px 10px;
    max-width: 183px;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    border: solid 1px #cbcbcb;
    box-sizing: border-box;
    list-style: none;

    @media all and (max-width: 992px) {
      margin-bottom: 50px;
      max-width: 270px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .planName {
    margin-bottom: 20px;
    display: block;
    font-size: 17px;
    font-weight: 600;

  }

  .planCurrency {
    font-size: 14px;
    font-weight: 400;
    vertical-align: top;
  }

  .planValue {
    font-size: 38px;
    font-weight: 600;
  }

  .planPeriod {
    position: relative;
    padding-left: 10px;
    font-size: 19px;
    font-weight: 400;

    @media all and (max-width: 992px) {
      font-size: 14px;
    }
  }

  .planPriceDetail {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #a2a2a2;
  }

  .planFeature {
    font-size: 10px;
    font-weight: 600;
    line-height: 2;
    list-style: none;
  }

  .getPlanBtn {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 600;
    max-width: 142px;
    width: 100%;
    height: 40px;
    color: #00c590;
    border: 1px solid #00c590;
    background: #fff;
    border-radius: 100px;
    transition: all .5s;

    &:hover {
      cursor: pointer;
      background: #00c590;
      color: #fff;
    }
  }

  .planPricing {
    margin-bottom: 30px;
  }

  .listOfPlans {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 992px) {
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-around;
    }
  }

  .listOfFeatures {
    list-style: none;
    padding-left: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;

    @media all and (max-width: 992px) {
      text-align: center;
    }
  }

  .rechtek {
    position: absolute;
    top: -14px;
    left: 10px;
    right: 0;
    width: 45px;
    height: 18px;
    border-radius: 50px;
    background-color: #00c590;
    color: #fff;
    font-size: 14px;
    font-weight: 600;

    &:before {
      content: '';
      position: absolute;
      top: -6px;
      left: 23px;
      right: 0;
      width: 2px;
      height: 30px;
      background: #fff;
      transform: rotate(60deg);
    }
  }

  .checkIcon {
    margin-right: 10px;

    > path {
      fill: #35c500;
    }
  }

  .featureItemTitle {
    font-weight: 400;
  }

  .topsellerPlan {
    position: relative;
    border-radius: 0 0 10px 10px;
    border-top: 0;
  }

  .selectPlan {
    margin-top: 100px;
  }

  .topSelletContent {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: -40px;
    left: -1px;
    width: 101%;
    height: 40px;
    background: #fb6051;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tipForPlan {
    position: relative;
    margin-left: 30px;
    display: inline-block;
    vertical-align: bottom;
    line-height: 2;
    max-width: 120px;
    width: 100%;
    height: 28px;
    background: #fbbc05;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;

    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: -10px;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-right: 10px solid #fbbc05;
      border-bottom: 5px solid transparent;

    }

    @media all and (max-width: 992px) {
      display: none;
    }
  }

  .planNotice {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #68676b;
    text-align: center;

    @media all and (max-width: 992px) {
      color: #000;
      font-size: 14px;
    }
  }
}

.hidden {
  visibility: hidden;
}

.bgTransparent {
  background-color: transparent;
}
