@import '../globalStyles/reset';

.registerModalContent {
  .header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;

    .title {
      font-size: 20px;
      font-weight: 600;

      margin: 0 auto;
      max-width: 80%;
      text-align: center;
    }

    .closeBtn {
      color: #000;
      font-size: 24px;
      transition: opacity .5s;
      position: absolute;
      right: 20px;
      top: 10px;

      &:hover {
        opacity: .5;
        cursor: pointer;
      }
    }
  }
}

.contentDescription {

  .description {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
  }

  .authSwitch {
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;

    .btnLink {
      margin: 5px auto;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 50%;
      font-size: 15px;
      color: #000;
      text-align: left;
      text-decoration: none;
      transition: color .5s;

      &:hover {
        background-color: rgba(0, 0, 0, .3);
        color: #fff;
        cursor: pointer;
      }

      .icon {
        margin-right: 15px;
        vertical-align: middle;
      }
    }
  }

  .login {
    display: block;
    font-size: 15px;
    text-align: center;
    font-weight: 400;

    .loginBtn {
      cursor: pointer;
      color: #000;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        color: #a10000;
        font-weight: bold;
      }
    }
  }
}

.separateBlock {
  margin: 20px 0;
  display: flex;
  align-items: center;

  .separateLine {
    height: 1px;
    width: 100%;
    background-color: #000000;
  }

  .separateText {
    padding: 0 15px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
  }
}

@media all and (max-width: 768px) {
  .registerModalContent {
    max-width: 500px;
    width: 90%;
  }

  .contentDescription {
    .description {
      font-size: 12px;
    }

    .authSwitch {
      .btnLink {
        display: block;
        width: 100%;
        padding: 10px 0;
        text-align: center;
      }
    }
  }
}
