.root {
}

.listOfLinks {
  padding-left: 0;

  .item {
    display: inline-block;
    list-style: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #fff;
  border-bottom: 2px solid #c22a28;
  z-index: 5;
}

.logoSection {
  display: flex;
  justify-content: center;
  align-items: center;

  .mainLogoLink {
    background-color: transparent;
    margin-right: 15px;

    .mainLogo {
      width: 180px;

      @media all and (max-width: 1024px) {
        width: 150px;
      }

      @media all and (max-width: 425px) {
        width: 130px;
      }
    }
  }

  .partners {
    @media all and (max-width: 1024px) {
      > img {
        width: 60px;
      }
    }

    @media all and (max-width: 425px) {
      > img {
        width: 50px;
      }
    }
  }
}

.burgerMenu {
  font-size: 30px;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.content {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media all and (max-width: 1024px) {
    padding: 20px 15px;
  }
}

.itemLink {
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #3e3d40;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom .5s;

  &:hover {
    border-bottom: 1px solid #c22a28;
  }

  &.active {
    color: #c22a28;
  }
}

.item {
  margin-right: 20px;
}

.selectWrapper {
  position: relative;
  width: 100%;


  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    right: -15px;
    border: 7px solid transparent;
    border-color: #000 transparent transparent transparent;
    transition: all .5s ease;
  }
}


.select {
  width: 100%;
  background: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;

  &::-moz-focus-inner {
    border: 0;
  }


  &::-ms-expand {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: transparent url('../../../media/arrowDown.svg') center right no-repeat;
  }
}

.registerBtn {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: 0;
  border-radius: 100px;
  background: #00c590;
  height: 39px;
  transition: background .5s;

  &:hover {
    cursor: pointer;
    background: #00A991;
  }
}
