@import '../globalStyles/reset';

.root {
  background: #f7f7f7;
  position: relative;
  min-height: calc(100vh - 60px);

  .settingsSection {
    padding: 0 140px;
    background: #edeef6;

    .wrapper {
      .content {
        align-items: center;

        .listOfItems {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;
          font-size: 14px;

          .item {
            margin-right: 20px;
            list-style: none;

            &:last-child {
              margin-right: 0;
            }

            .checkIcon {
              margin-right: 10px;

              > path {
                fill: #00c590;
              }
            }

            .btnLogin {
              border: 0;
              background: 0;
              cursor: pointer;
              outline: none;

              &::-moz-focus-inner {
                border: 0;
              }
            }

            .btnRegister {
              color: #68676b;
              text-decoration: none;
              padding: 6px 22px;
              width: 100%;
              height: 30px;
              border-radius: 100px;
              border: solid 1px #68676b;
              background-color: #ffffff;
              font-size: 12px;
              font-weight: 600;
              cursor: pointer;
              outline: none;

              &::-moz-focus-inner {
                border: 0;
              }
            }
          }
        }
      }
    }
  }

  .categorySection {
    padding: 0 10px;
    height: 43px;
    background: #c22a28;

    .listOfCategories {
      margin: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: left;
      height: 100%;

      .chooseCategory {
        list-style: none;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        max-width: 216px;
        width: 100%;
        position: relative;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.15);

        &:hover {
          background: #fb6051;

          .dropdown {
            display: block;
          }
        }
      }

      .categoryItem {
        color: #ffffff;
        padding: 0 15px;
        text-decoration: none;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
          background: #fb6051;
        }
      }
    }
  }

  .mainSection {
    padding: 0 140px 100px;
    text-align: center;
    margin-top: 110px;

    .imgWrapper {
      margin: 50px auto;
      width: 312px;
      height: 220px;
      max-width: 312px;
      min-height: 220px;

      .img {
        width: 100%;
        height: 100%;
      }
    }

    .mainTitle {
      font-size: 24px;
    }

    .mainLogoWrapperSearch {
      background-color: transparent;
      display: block;
      margin: 0 auto;
      width: 375px;
      height: 44px;
      max-width: 375px;
      max-height: 44px;

      .mainLogo {
        width: 100%;
        height: 100%;
      }
    }

    .groupSearchFilter {
      margin-top: 30px;

      .searchByPosition {
        margin-top: 15px;
        display: flex;
        margin-right: 10px;
        position: relative;

        .input {
          width: 100%;
          padding: 0 20px 0 0;

          &:focus {
            outline: none;
          }
        }

        .placeholderName {
          padding: 0 20px;
          text-align: left;
          white-space: nowrap;
        }
      }

      .acceptBtn {
        margin: 28px auto 0;
        display: block;
        max-width: 389px;
        width: 100%;
        height: 50px;
        color: #fff;
        border: 0;
        font-size: 14px;
        font-weight: 600;
        border-radius: 100px;
        background-color: #00c590;
        transition: background-color .5s;

        &:hover {
          cursor: pointer;
          background-color: #00A991;
        }
      }

      .searchByPlace {
        margin-top: 15px;
        position: relative;

        .flagSelectWrapper {
          position: absolute;
          top: 17px;
          left: 40px;

          .flagSelectWrapper {
            position: absolute;
            top: 17px;
            left: 40px;
          }
        }

        .mapMarker {
          width: 15px !important;
          position: absolute;
          height: 100%;
          left: 15px;
          top: 0;

          & > path {
            fill: #707070;
          }
        }

        .input {
          width: 100%;
          padding-left: 75px;
        }
      }
    }
  }

  .footerImgWrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: end;

    .footerImg {
      width: 100%;
    }
  }

  .footer {
    height: 60px;
    position: absolute;
    bottom: -60px;
    background: #c22a28;
    display: flex;
    justify-content: center;
    width: 100%;

    .content {
      font-family: 'Open Sans', sans-serif;
      padding: 0 140px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        display: block;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        width: 100%;
        text-align: center;

        .linksBlock {

          .link {
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            transition: opacity .5s;
            font-family: 'Open Sans', sans-serif;

            &:hover {
              opacity: 0.8;
            }
          }

          .bgTransparent {
            background-color: transparent;
          }
        }
      }
    }
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.title {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
}

.dropdownWrapper {
  padding: 10px;

  .dropdownTitle {
    .chooseBtnIcon {
      margin-right: 18px;
    }
  }

  .dropdown {
    z-index: 5;
    border: #cccccc;
    background-color: #fff;
    position: absolute;
    top: 43px;
    left: 0;
    width: 100%;
    display: none;

    .dropdownItem {
      text-decoration: none;
      color: #68676b;
      display: block;
      padding: 5px;
      width: 100%;
      text-align: left;
      font-size: 13px;
      font-family: 'Open Sans', sans-serif;

      &:hover {
        background-color: #ededed;
      }
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (max-width: 1280px) {
    flex-direction: column;
  }
}

.searchInputWrapper {
  max-width: 389px;
  width: 389px;
  max-height: 51px;
  height: 51px;
  border-radius: 50px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #edeef6;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
}

.input {
  padding: 0 15px 0 20px;
  text-align: left;
  white-space: nowrap;
  font-size: 16px;
  color: #68676b;
  font-style: italic;
  font-weight: 300;

  &:focus {
    outline: none;
  }
}

@media all and (max-width: 1280px) {
  .root {
    .settingsSection {
      padding: 0 15px;

      .item {
        font-size: 13px;
        margin-right: 15px;
      }
    }

    .categorySection {
      padding: 0;

      .listOfCategories {
        .categoryItem {
          padding: 0 5px;
          font-size: 12px;
        }
      }
    }

    .mainSection {
      padding: 80px 15px;
      text-align: center;
      margin-top: 0;
    }
  }
}

@media all and (max-width: 1023px) {
  .root {
    .settingsSection {
      padding: 0 15px;

      .content {
        display: flex;
        justify-content: flex-end;

        .featureWrapper {
          display: none;
        }
      }
    }

    .categorySection {
      padding: 0 5px;

      .listOfCategories {
        .chooseCategory {
          background-color: transparent;
          justify-content: left;
          max-width: 216px;
          width: auto;
        }

        .categoryItem {
          display: none;
        }
      }
    }

    .footer {
      .content {
        padding: 0 15px;

        .text {
          font-size: 13px;

          .link {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  .root {
    .settingsSection {
      padding: 0 5px;

      .wrapper {
        .content {
          display: flex;
          justify-content: flex-end;

          .featureWrapper {
            display: none;
          }

          .listOfItems {
            font-size: 12px;

            .item {
              margin-right: 3px;

              &:last-child {
                margin-right: 0;
              }

              .btnLogin {
                font-size: 12px;
              }

              .btnRegister {
                padding: 5px 8px;
                height: auto;
                font-size: 11px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }

    .categorySection {
      padding: 0 10px;
    }

    .mainSection {
      padding: 40px 10px 10px;
      margin-top: 0;

      .imgWrapper {
        margin: 30px auto;
        width: calc(100% - 20px);
        height: auto;
        max-width: 312px;
        min-height: 220px;
      }

      .mainTitle {
        font-size: 20px;
      }

      .mainLogoWrapperSearch {
        width: calc(100% - 20px);
        height: auto;
      }

      .groupSearchFilter {
        margin-top: 20px;

        .searchByPosition {
          margin-right: 0;
          width: calc(100% - 20px);

          .input {
            font-size: 13px;
            padding-left: 18px;
          }

          .placeholderName {
            display: none;
          }
        }

        .acceptBtn {
          width: calc(100% - 20px);
          min-width: calc(100% - 20px);

        }

        .searchByPlace {
          width: calc(100% - 20px);
          min-width: calc(100% - 20px);

          .input {
            padding-left: 75px;
            max-width: 100%;
            width: 100%;
            font-size: 13px;
          }

          .flagSelectWrapper {
            left: 20px;
            top: 20px;
          }

          .mapMarker {
            display: none;
          }
        }
      }
    }

    .footerImgWrapper {
      display: none;
    }

    .footer {
      .content {
        padding: 0 10px;
      }
    }
  }
}