* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

strong {
  font-weight: 600;
}

ol, ul {
  padding-left: 0;
  display: block;
  font-family: 'Open Sans', sans-serif;
}

ul > li {
  list-style: auto;
}

blockquote, q {
  quotes: none;
  font-family: 'Open Sans', sans-serif;
}

strong {
  font-weight: bold;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Open Sans', sans-serif;
}

textarea, input, button {
  background: transparent;
  border: none;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

button,
select,
a {
  font-family: 'Open Sans', sans-serif;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
