@import '../globalStyles/reset';

.root {
  position: relative;
}

.rightColumnList {
  padding: 49px 0 49px 40px;
  display: inline-block;
  max-width: 982px;
  background: #f6f8f9;
  width: 100%;
  vertical-align: top;
  min-height: 100px;
  border-left: solid 1px #dadce0;
  box-sizing: border-box;

  @media all and (max-width: 1300px) {
    padding: 49px;
    margin: 0 auto;
    border-left: 0;
  }

  @media all and (max-width: 762px) {
    padding: 10px;
  }
}


.wrapper {
  padding: 20px 40px;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 848px;
  width: 100%;
  border-radius: 10px;
  border: solid 1px #e2e3e8;
  background-color: #ffffff;
}

.header {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.title {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  text-align: center;

  @media all and (min-width: 370px) {
    font-size: 24px;
  }
}

.description {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}

.titleOfStatus {
  display: block;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

.statisticTable {
  text-align: left;
  margin-bottom: 50px;
  width: 100%;
  border-spacing: 0 1em;
  line-height: 3;

  .actionIcon {
    cursor: pointer;

    & > path {
      fill: #707070;
    }
  }

  .imgRow {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iconWrapper {
    width: 14px;
    margin: 5px;
  }

  .iconWrapper2 {
    width: 20px;
    margin: 5px;
  }

  .iconImg {
    cursor: pointer;
    width: 100%;
  }
}

.tableHeadItem {
  font-size: 13px;
  font-weight: 600;
  text-align: center;

  &:first-child {
    text-align: left;
  }
}

.tableItem {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: default;

  &:first-child {
    text-align: left;
  }

  .controlWrapper {
    display: flex;
    align-items: center;
  }
}

.cursorPointer {
  cursor: pointer;
}

.hoverUnderLine:hover {
  text-decoration: underline;
}

.btnJobAdd {
  margin-top: 10px;
  padding: 15px 10px;
  border-radius: 25px;
  min-width: 300px;
  font-weight: 600;
  font-size: 16px;
  background: #00c590;
  border: 0;
  color: #fff;
  transition: opacity .5s;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }
}

.subTitle {
  font-size: 13px;
  margin: 10px 0 0 0;
  font-weight: 400;
}

.counterBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: solid 1px #e2e3e8;
  padding: 20px 0;

  .title {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
  }

  .totalNumber {
    font-size: 36px;
    font-weight: 400;
  }
}

.counterItem {
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-right: 1px solid #e2e3e8;

  &:not(:first-child) {
    padding-left: 30px;
  }

  .titleWrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titleText {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 19px;
      letter-spacing: .77px
    }

    .tooltip {
      margin-left: 15px;
      position: relative;
      width: 14px;
      height: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
      font-size: 10px;
      font-weight: bold;
      border-radius: 50%;
      border: 1px solid #000000;

      .tooltiptext {
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        visibility: hidden;
        width: 120px;
        background-color: #4285f4;
        border: 1px solid #3160d6;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        left: 20px;
        z-index: 1;

        &:after {
          content: " ";
          position: absolute;
          top: 50%;
          right: 100%; /* To the left of the tooltip */
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent #4285f4 transparent transparent;
        }
      }

      &:hover {
        border-color: #4285f4;
        color: #4285f4;

        .tooltiptext {
          visibility: visible;
        }
      }
    }
  }
}

.tableWrapper {
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.hide {
  display: none;
}


/*-Need to check if we can remove the styles below--*/

.backBtn {
  position: absolute;
  bottom: -30px;
  left: 0;
  display: block;
  background: none;
  border: none;
  color: #949492;

  &:hover {
    cursor: pointer;
  }
}

.formDetails {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.link {
  text-decoration: none;
}

.inputLabel {
  position: relative;
  margin-bottom: 10px;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.inputLabelText {
  width: 100%;
  font-size: 15px;
  font-weight: 700;

  @media all and (min-width: 456px) {
    width: 30%;
  }
}

.input {
  padding: 10px;
  width: 100%;
  border: solid 1px #d3d4db;
  font-weight: 400;
  border-radius: 5px;
  box-sizing: border-box;

  @media all and (min-width: 456px) {
    width: 70%;
  }
}

.checkbox {
  vertical-align: bottom;
}

.authBtnSubmit {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
  background: #00c590;
  border: 0;
  color: #fff;
  transition: opacity .5s;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }
}

.submitIcon {
  position: absolute;
  top: 12px;
  right: 22px;
  font-size: 15px;
}

.inputDescribeLabel {
  width: 58%;

  .checkbox {
    margin-right: 20px;
  }
}

.btnSubmitWrapper {
  position: relative;
  background: 0;
  border: 0;
}

.submitBtn {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  padding: 15px 10px;
  border-radius: 25px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  background: #00c590;
  border: 0;
  color: #fff;
  transition: opacity .5s;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }
}

.select {
  width: 100%;
  background: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;


  &::-ms-expand {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: transparent url('../../media/arrowDown.svg') center right no-repeat;
  }
}

.selectWrapper {
  position: relative;
  width: 100%;

  @media all and (min-width: 456px) {
    width: 70%;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    right: 18px;
    border: 7px solid transparent;
    border-color: #000 transparent transparent transparent;
    transition: all .5s ease;
  }

  &:hover {
    &:after {
      top: 30%;
      transform: rotate(-180deg);
    }
  }
}

.sectionHeader {
  font-size: 30px;
  font-weight: 600;
}

.secondSectionHeader {
  font-size: 21px;
}

.activeSection {
  margin-top: 50px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #edeef6;
  border: 1px solid #c6c6c6;

  .title {
    font-size: 14px;
    font-weight: 600;
  }

  .statusOfJob {
    font-size: 12px;
    font-weight: 400;
  }

  .applyJob {
    height: 40px;
    background: #fff;
    color: #00c590;
    max-width: 175px;
    width: 100%;
    border-radius: 100px;
    border: 1px solid #00c590;
    font-size: 14px;
    font-weight: 600;
    transition: all .5s;

    &:hover {
      cursor: pointer;
      color: #fff;
      background: #00c590;
    }
  }
}

.counter {
  position: absolute;
  top: 5px;
  left: -70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 600;
  height: 36px;
  max-width: 36px;
  width: 100%;
  background: #edeef6;
}

.textarea {
  height: 145px;
  resize: none;
}

.groupCheckBox {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 70%;

  .inputLabel {
    display: inline;
  }

  .leftColumn,
  .rightColumn {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    line-height: 2;
    align-content: center;
    align-items: flex-start;

    .checkbox {
      margin-right: 15px;
      vertical-align: middle;
    }

    .inputLabel {
      font-size: 13px;
      font-weight: 400;
    }
  }

  .rightColumn {
    margin-right: 0;
  }
}

.salaryWrapper {
  width: 70%;
}

.radio {
  visibility: hidden;

  &:checked {
    & + label {

      &:after {
        content: '';
        position: absolute;
        top: 4px;
        left: -27px;
        width: 14px;
        height: 14px;
        border-radius: 100%;
        background: #00c590;
      }
    }
  }
}

.spaceBetween {
  margin: 0 15px;
}

.spaceOnlyBefore {
  margin-left: 15px;
}

.groupPriceInfo {
  position: relative;
  margin-left: 15px;
  display: inline;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -32px;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    border: 1px solid #afabab;
  }

  .input {
    max-width: 90px;
    border-radius: 5px 0 0 5px;
  }

  .selectWrapper {
    display: inline-block;
    max-width: 75px;
    height: 40px;

    &:after {
      top: 50%;
      right: 11px;
    }

    &:last-child {
      margin-left: 20px;
      display: inline-block;
      max-width: 105px;
      background: none;

      .select {
        border: 0;
        max-width: 105px;
        width: 100%;
        background: none;
      }
    }

    .select {
      border: solid 1px #d3d4db;
      background-color: #edeef6;
      height: 44px;
      font-weight: 400;
      border-radius: 0 5px 5px 0;
    }
  }
}

.seperateMsg {
  margin: 15px 0;
  display: block;
  font-weight: 600;
}

.searchBlock {
  position: relative;
  margin: 0 auto;
  width: 262px;
}

.searchIcon {
  position: absolute;
  top: 0;
  left: 14px;
  display: flex;
  align-items: center;
  height: 100%;
}

.searchInput {
  padding-left: 40px;
  max-width: 210px;
  width: 100%;
}

.searchBtn {
  margin-left: 10px;
  width: 42px;
  height: 42px;
  background: #4285f4;
  border-radius: 10px;
  border: 0;
}

.searchBtnIcon {
  width: 18px !important;
  height: 18px;

  > path {
    fill: #fff;
  }
}

.countResult {
  font-size: 12px;
  font-weight: 400;
  color: #707070;
}

.itemBlockName {
  cursor: pointer;
}

.checkIconBlock {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.checkIcon {
  width: 20px !important;
  height: 20px !important;
  border: 1px solid #afabab;
  border-radius: 4px;
}

.labelBlock {
  position: relative;

  .checkbox {
    visibility: hidden;

    & + .checkIconBlock .checkIcon {
      > path {
        visibility: hidden;
      }
    }

    &:checked {

      & + .checkIconBlock .checkIcon {
        > path {
          fill: #00c590;
          visibility: visible;
        }
      }
    }
  }
}

.inputBlock {
  width: 70%;

  .input {
    margin-bottom: 5px;
    width: 100%;

    &.addNewInput {
      width: calc(100% - 40px);
    }
  }
}

.newInput {
  position: relative;
  display: inline-block;
  width: 100%;
}

.addNewInputIconBlock {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  height: 100%;
  align-items: center;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0;
  }
}

.addNewInputIcon {
  padding: 5px;
  width: 15px !important;
  height: 15px;
  border: 1px solid #4285f4;
  border-radius: 100%;
  background: #4285f4;

  > path {
    fill: #fff;
  }
}


.jobList {
  margin: 17px 0 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-bottom: 1px solid #dadce0;

  &:hover {
    cursor: pointer;
  }

  .title {
    margin-bottom: 10px;
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 900;
    max-width: 200px;
    word-break: break-all;
  }

  .date {
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    color: #707070;
  }

  .circle {
    margin-right: 15px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #cccccc;
  }

  .jobEndTimeIcon {
    margin-right: 15px;

    > path {
      fill: #707070;
    }
  }
}

.saveBg {
  background: #00c590;
  color: #fff;
}

.counter.saveFailBg {
  background: #ff524f;
  color: #fff;
}

.wrapper.saveFailBg,
.input.saveFailBg {
  border: 1px solid #ff524f;
}

.inputLabelText.saveFailBg {
  color: #ff524f;
}

.activeJobStatus {

  .circle {
    background: red;
  }
}

.isJobActive {
  border: solid 1px #00c590;
  background: rgba(93, 249, 192, 0.1);

  .postIsActive {
    margin-right: 10px;
    width: 20px !important;
    height: 20px !important;

    & > path {
      fill: #00c590;
    }
  }

  .text {
    font-size: 12px;
    font-weight: 400;
  }
}

.activePostMsg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}
