@import '../globalStyles/reset';

.register {
  .description {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
  }

  .authForm {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .inputLabel {
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;

      &:last-child {
        margin-bottom: 0;
      }

      .inputLabelText {
        width: 100%;
        max-width: 112px;
        font-size: 15px;
        font-weight: 600;

        @media all and (max-width: 548px) {
          max-width: 100%;
        }
      }

      .input {
        padding: 10px;
        width: 100%;
        max-width: 356px;
        border: 1px solid #949492;
        border-radius: 5px;

        @media all and (max-width: 548px) {
          max-width: 100%;
        }
      }

      .invalidInput {
        border-color: #ff5800;
      }
    }

    .errorCheckbox {
      color: #c22a28;
      margin-left: 22px;
    }

    .errorInput {
      color: #c22a28;
      margin-left: 150px;

      @media all and (max-width: 768px) {
        margin-left: 124px;
      }

      @media all and (max-width: 548px) {
        margin-left: 0;
      }
    }
  }

  .flexCenter {
    display: flex;
    align-items: center;

    .link {
      text-decoration: none;
    }

    .checkbox {
      margin-right: 10px;
      vertical-align: bottom;
    }
  }

  .registerRespMessageWrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    .registerRespMessageSuccess {
      background-color: rgba(0, 197, 144, 0.3);
      padding: 5px 15px;
      border-radius: 3px;
    }

    .registerRespMessageFail {
      background-color: rgba(161, 0, 0, 0.3);
      padding: 5px 15px;
      border-radius: 3px;
    }
  }

  .authBtnSubmit {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    background-color: #00c590;
    border: 0;
    color: #fff;
    transition: opacity .5s;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      opacity: .8;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: rgba(256, 0, 0, 0.8);
    }

    .submitIcon {
      position: absolute;
      top: 12px;
      right: 22px;
      font-size: 16px;
    }
  }
}
