@import '../../globalStyles/reset';

.root {
  position: absolute;
  min-width: 100%;
  margin-top: -50px;
  width: 100%;

  @media all and (max-width: 992px) {
    margin-top: 0;
  }

  .preFooter {
    .preFooterFirstSection {
      background: #c22a28;

      .wrapper {
        margin: 0 auto;
        max-width: 1280px;
        width: 100%;

        .content {
          font-family: 'Open Sans', sans-serif;
          padding: 0 140px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media all and (max-width: 992px) {
            padding: 0 50px;
          }

          .text {
            padding: 20px 0;
            display: block;
            font-family: 'Open Sans', sans-serif;
            color: #fff;
            width: 100%;
            text-align: center;

            .linksBlock {
              @media all and (max-width: 768px) {
                display: flex;
                justify-content: center;
              }

              .bgTransparent {
                background-color: transparent;
              }

              .link {
                color: #fff;
                text-decoration: none;
                font-weight: 700;
                transition: opacity .5s;
                font-family: 'Open Sans', sans-serif;

                &:hover {
                  opacity: 0.8;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .root {
    margin-top: 0;

    .seperator {
      .seperatorImg {
        display: none;
      }
    }

    .preFooter {
      .preFooterFirstSection {
        .wrapper {
          .content {
            padding: 0 50px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .root {
    margin-top: 0;

    .seperator {
      .seperatorImg {
        display: none;
      }
    }

    .preFooter {
      .preFooterFirstSection {
        .wrapper {
          .content {
            padding: 0 50px;

            .text {
              .linksBlock {
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}

.noResponsive {
  min-width: 1024px !important;
}
