@import '../globalStyles/reset';

.root {
  padding: 24px 0 48px;
  min-width: 1024px;
}

.header {
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.closeBtn {
  color: #000;
  font-size: 15px;
  transition: opacity .5s;

  &:hover {
    opacity: .5;
    cursor: pointer;
  }

  @media all and (min-width: 370px) {
    font-size: 20px;
  }
}

.title {
  margin: 0;
  font-size: 15px;
  font-weight: 600;

  @media all and (min-width: 370px) {
    font-size: 20px;
  }
}

.description {
  margin: 0;
  font-size: 12px;
}

.authSwitch {
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 200px;
}

.btnLink {
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  color: #000;
  text-align: left;
  text-decoration: none;
  transition: color .5s;


  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    cursor: pointer;
  }
}

.icon {
  margin-right: 15px;
}

.login {
  display: block;
  font-size: 12px;
  text-align: center;
}

.loginBtn {
  color: #000;
  text-decoration: none;
}

.backBtn {
  position: absolute;
  bottom: -30px;
  left: 0;
  display: block;
  background: none;
  border: none;
  color: #949492;

  &:hover {
    cursor: pointer;
  }
}

.authForm {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .submitBtnWrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;

    .resetMargins {
      margin: 0;
    }

    .successSave {
      margin-left: 35px;
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      background-color: rgba(0, 197, 144, 0.3);
      padding: 5px 15px;
      border-radius: 3px;
    }

    .failureSave {
      margin-left: 35px;
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      background-color: rgba(161, 0, 0, 0.3);
      padding: 5px 15px;
      border-radius: 3px;
    }
  }
}

.link {
  text-decoration: none;
}

.inputLabel {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.inputLabelText {
  width: 100%;
  font-size: 15px;
  font-weight: 700;

  @media all and (min-width: 456px) {
    width: 20%;
  }
}

.input {
  padding: 10px;
  width: 100%;
  border: solid 1px #d3d4db;
  font-weight: 400;
  border-radius: 5px;

  @media all and (min-width: 456px) {
    width: 73%;
  }
}

.checkbox {
  vertical-align: bottom;
}

.authBtnSubmit {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
  background: #00c590;
  border: 0;
  color: #fff;
  transition: opacity .5s;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }
}

.submitIcon {
  position: absolute;
  top: 12px;
  right: 22px;
  font-size: 15px;
}

.inputDescribeLabel {
  width: 76%;

  @media all and (max-width: 456px) {
    margin: 10px 0;
  }

  .checkbox {
    margin-right: 20px;
  }

  .toggleBtn {
    display: flex;
    align-items: center;
  }
}

.submitBtn {
  outline: none;
  position: relative;
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
  background: #00c590;
  max-width: 295px;
  width: 100%;
  border: 0;
  color: #fff;
  transition: opacity .5s;
  font-weight: 600;
  font-size: 16px;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }

  .successPassSave {
    max-width: 295px;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: rgba(0, 197, 144, 0.3);
    padding: 5px 15px;
    border-radius: 3px;
  }

  .failurePassSave {
    max-width: 295px;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: rgba(161, 0, 0, 0.3);
    padding: 5px 15px;
    border-radius: 3px;
  }
}

.select {
  width: 100%;
  background: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;


  &::-ms-expand {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: transparent url('../../media/arrowDown.svg') center right no-repeat;
  }
}

.toggleSpan {
  font-size: 10px;

  @media all and (max-width: 456px) {
    display: block;
    font-size: 12px;
  }
}

.selectWrapper {
  position: relative;
  width: 100%;

  @media all and (min-width: 456px) {
    width: 76%;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    right: 18px;
    border: 7px solid transparent;
    border-color: #000 transparent transparent transparent;
    transition: all .5s ease;
  }

  &:hover {
    &:after {
      top: 30%;
      transform: rotate(-180deg);
    }
  }
}

.confirmDeleteWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .confirmDeleteMessage {
    font-size: 15px;
  }

  .confirmDeleteBtnWrapper {
    padding: 10px 0;

    .confirmDeleteYes {
      padding: 5px 30px;
      min-width: 150px;
      font-size: 16px;
      font-weight: 600;
      border: 0;
      border-radius: 100px;
      background-color: #00c590;
      cursor: pointer;
      color: #fff;
      transition: all .5s;

      &:hover {
        opacity: .8;
      }
    }

    .confirmDeleteNo {
      margin-left: 10px;
      padding: 5px 30px;
      min-width: 150px;
      font-size: 16px;
      font-weight: 600;
      border: 0;
      border-radius: 100px;
      background-color: #ff524f;
      cursor: pointer;
      color: #fff;
      transition: all .5s;

      &:hover {
        opacity: .8;
      }
    }
  }
}
