.selectWrapper {
  position: relative;
  width: 100%;
  margin-right: 30px;

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    right: 10px;
    border: 7px solid;
    border-color: #3e3d40 transparent transparent transparent;
    transition: all .5s ease;
  }
}

.select {
  color: #3e3d40;
  border: 0;
  background: none;
  padding: 2px 5px;
  width: 100%;
  appearance: none;
  outline: none;

  &::-moz-focus-inner {
    border: 0;
  }

  &::-ms-expand {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: transparent url('../../../../media/arrowDown.svg') center right no-repeat;
  }
}

.white {
  background-color: #c22a28;
  color: white;
}
