@import '../../globalStyles/reset';

.headerSection {
  background: #c22a28;
  padding: 30px 50px 25px;

  .wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 100%;

    .content {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .logoSection {
        margin-right: 20px;
        display: flex;
        flex-direction: column;

        .mainLogoWrapper {
          width: 267px;
          height: 37px;
          max-width: 267px;
          max-height: 37px;
          margin-bottom: 25px;

          .mainLogo {
            width: 100%;
            height: 100%;
          }
        }

        .partners {

          & > * {
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .itemsInputsSection {
        padding: 0 5px;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-right: 5px;

        .titleJob {
          position: relative;
          max-width: 389px;
          width: 100%;
          display: inline-block;
          margin-right: 10px;

          .input {
            padding: 10px;
            box-sizing: border-box;
            outline: none;
            padding-left: 70px;
            width: 100%;
            background: #a10000;
            border: 0;
            border-radius: 100px;
            height: 51px;
            color: #fff;
            font-weight: 400;
          }

          .wrapperSearchIcon {
            position: absolute;
            top: 0;
            left: 30px;
            display: flex;
            align-items: center;
            height: 100%;

            .searchJobIcon {
              width: 18px;
              height: 18px;
              min-width: 18px;
              min-height: 18px;

              & > path {
                fill: #fff;
              }
            }
          }
        }

        .titleCountry {
          position: relative;
          max-width: 211px;
          width: 100%;
          display: inline-block;

          .flagSelectWrapper {
            position: absolute;
            top: 17px;
            left: 40px;

            @media all and (max-width: 1024px) {
              left: 20px;
              top: 20px;
            }
          }

          .input {
            padding: 10px;
            box-sizing: border-box;
            outline: none;
            padding-left: 70px;
            width: 100%;
            background: #a10000;
            border: 0;
            border-radius: 100px;
            height: 51px;
            color: #fff;
            font-weight: 400;
          }

          .mapMarker {
            position: absolute;
            width: 15px !important;
            height: 100%;
            top: 0;
            left: 15px;

            & > path {
              fill: #fb6051;
            }
          }
        }
      }

      .itemsLinksSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        max-width: 190px;
        width: auto;
        margin-right: 5px;
        min-width: 170px;

        .btnJobAd {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          padding: 0 10px;
          max-width: 212px;
          height: 30px;
          border: solid 1px #ffffff;
          font-size: 13px;
          font-weight: 600;
          cursor: pointer;
          background: none;
          border-radius: 100px;
          color: #fff;
          min-width: 150px;
        }

        .alreadyRegisterText {
          margin-top: 10px;
          color: #ffffff;
          font-family: 'Open Sans', sans-serif;
          font-weight: normal;
          line-height: 18px;
          font-size: 13px;

          .alreadyRegisterLogIn {
            font-weight: bold;
            cursor: pointer;
            color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            line-height: 18px;
            font-size: 13px;
            text-decoration: none;
            padding: 0 2px;
          }
        }

        .links {
          font-size: 13px;
          color: #fff;
          font-weight: 400;
        }
      }

      .justifyRightSearch {
        top: 20px;
        left: 100%;
        width: 100%;
        position: absolute;
        max-width: 80px;

        @media all and (max-width: 1480px) {
          position: static;
        }
      }
    }

    .itemsInputsSectionBottom {
      display: none;
    }
  }
}

@media all and (max-width: 1460px) {
  .headerSection {
    padding: 30px 50px 25px;

    .wrapper {
      padding: 0;
      width: auto;
    }
  }
}

@media all and (max-width: 1280px) {
  .headerSection {
    padding: 30px 25px 25px;

    .wrapper {
      padding: 0;
      width: auto;

      .content {
        .itemsLinksSection {
          min-width: 180px;
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .headerSection {
    padding: 15px;

    .wrapper {
      padding: 0;
      width: auto;

      .content {
        align-items: center;

        .logoSection {
          margin-right: 10px;

          .mainLogoWrapper {
            width: 133px;
            height: 18px;
            max-width: 133px;
            max-height: 18px;
            margin-bottom: 10px;
          }

          .partners {
            .partnerImg1 {
              width: 37px;
              height: 12px;
              margin-right: 5px;
            }

            .partnerImg2 {
              width: 52px;
              height: 13px;
            }
          }
        }

        .itemsInputsSection {
          width: auto;
          max-width: 360px;

          .titleJob {
            .input {
              padding-left: 40px;
              font-weight: 300;
            }

            .wrapperSearchIcon {
              left: 15px;

              .searchJobIcon {
                width: 15px;
                height: 15px;
                min-width: 15px;
                min-height: 15px;
              }
            }
          }

          .titleCountry {
            .input {
              padding: 10px 10px 10px 50px;
            }

            .mapMarker {
              display: none;
            }
          }
        }

        .itemsLinksSection {
          max-width: 170px;

          .btnJobAd {
            min-width: auto;
            padding: 3px 10px;
            max-width: 250px;
            height: auto;
            font-size: 12px;
          }

          .alreadyRegisterText {
            font-size: 11px;

            .alreadyRegisterLogIn {
              font-size: 12px;
            }
          }

          .links {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .headerSection {
    padding: 10px;

    .wrapper {
      padding: 0;
      width: auto;

      .content {
        align-items: center;

        .logoSection {
          margin-right: 10px;
          display: flex;
          flex-direction: column;

          .mainLogoWrapper {
            width: 133px;
            height: 18px;
            max-width: 133px;
            max-height: 18px;
            margin-bottom: 10px;
          }

          .partners {
            .partnerImg1 {
              width: 37px;
              height: 12px;
              margin-right: 5px;
            }

            .partnerImg2 {
              width: 52px;
              height: 13px;
            }

            & > * {
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        .itemsInputsSection {
          display: none;
        }

        .itemsLinksSection {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #fff;
          width: 100%;

          max-width: 170px;

          .btnJobAd {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border: solid 1px #ffffff;
            font-weight: 600;
            cursor: pointer;
            background: none;
            border-radius: 100px;
            color: #fff;

            min-width: auto;
            padding: 3px 10px;
            max-width: 250px;
            height: auto;
            font-size: 12px;
          }

          .alreadyRegisterText {
            color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            font-weight: normal;
            line-height: 18px;

            font-size: 11px;

            .alreadyRegisterLogIn {
              font-weight: bold;
              cursor: pointer;
              color: #ffffff;
              font-family: 'Open Sans', sans-serif;
              line-height: 18px;
              text-decoration: none;

              font-size: 12px;
            }
          }

          .links {
            color: #fff;
            font-weight: 400;

            font-size: 12px;
          }
        }

        .justifyRightSearch {
          top: 20px;
          left: 100%;
          width: 100%;
          position: absolute;
          max-width: 80px;

          @media all and (max-width: 1480px) {
            position: static;
          }
        }
      }

      .itemsInputsSectionBottom {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;

        .titleJob {
          position: relative;
          width: 100%;
          margin-bottom: 10px;

          .wrapperSearchIcon {
            position: absolute;
            top: 0;
            left: 15px;
            display: flex;
            align-items: center;
            height: 100%;

            .searchJobIcon {
              width: 18px;
              height: 18px;
              min-width: 18px;
              min-height: 18px;

              & > path {
                fill: #fff;
              }
            }
          }

          .input {
            padding: 0;
            box-sizing: border-box;
            outline: none;
            padding-left: 40px;
            width: 100%;
            background: #a10000;
            border: 0;
            border-radius: 100px;
            height: 30px;
            color: #fff;
            font-weight: 400;
          }
        }

        .titleCountry {
          position: relative;
          max-width: 100%;
          width: 100%;
          display: inline-block;

          .flagSelectWrapper {
            position: absolute;
            left: 13px;
            top: 8px;
          }

          .input {
            padding: 0;
            box-sizing: border-box;
            outline: none;
            padding-left: 45px;
            background: #a10000;
            border: 0;
            border-radius: 100px;
            height: 30px;
            color: #fff;
            width: 100%;
            font-weight: 400;
          }

          .mapMarker {
            display: none;
          }
        }
      }
    }
  }
}

@media all and (max-width: 595px) {
  .headerSection {
    padding: 10px;

    .wrapper {
      padding: 0;
      width: auto;

      .content {
        align-items: center;

        .logoSection {
          margin-right: 10px;
          display: flex;
          flex-direction: column;

          .mainLogoWrapper {
            width: 133px;
            height: 18px;
            max-width: 133px;
            max-height: 18px;
            margin-bottom: 10px;
          }

          .partners {
            .partnerImg1 {
              width: 37px;
              height: 12px;
              margin-right: 5px;
            }

            .partnerImg2 {
              width: 52px;
              height: 13px;
            }

            & > * {
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        .itemsInputsSection {
          display: none;
        }

        .itemsLinksSection {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #fff;
          width: 100%;
          max-width: 170px;

          .btnJobAd {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border: solid 1px #ffffff;
            font-weight: 600;
            cursor: pointer;
            background: none;
            border-radius: 100px;
            color: #fff;
            min-width: auto;
            padding: 3px 10px;
            max-width: 250px;
            height: auto;
            font-size: 12px;
          }

          .alreadyRegisterText {
            color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            font-weight: normal;
            line-height: 18px;

            font-size: 11px;

            .alreadyRegisterLogIn {
              font-weight: bold;
              cursor: pointer;
              color: #ffffff;
              font-family: 'Open Sans', sans-serif;
              line-height: 18px;
              text-decoration: none;

              font-size: 12px;
            }
          }

          .links {
            color: #fff;
            font-weight: 400;

            font-size: 12px;
          }
        }

        .justifyRightSearch {
          top: 20px;
          left: 100%;
          width: 100%;
          max-width: 80px;
          position: static;
        }
      }

      .itemsInputsSectionBottom {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;

        .titleJob {
          position: relative;
          width: 100%;
          margin-bottom: 10px;

          .wrapperSearchIcon {
            position: absolute;
            top: 0;
            left: 15px;
            display: flex;
            align-items: center;
            height: 100%;

            .searchJobIcon {
              width: 18px;
              height: 18px;
              min-width: 18px;
              min-height: 18px;

              & > path {
                fill: #fff;
              }
            }
          }

          .input {
            padding: 0;
            box-sizing: border-box;
            outline: none;
            padding-left: 40px;
            width: 100%;
            background: #a10000;
            border: 0;
            border-radius: 100px;
            height: 30px;
            color: #fff;
            font-weight: 400;
          }
        }

        .titleCountry {
          position: relative;
          max-width: 100%;
          width: 100%;
          display: inline-block;

          .flagSelectWrapper {
            position: absolute;
            left: 13px;
            top: 8px;
          }

          .input {
            padding: 0;
            box-sizing: border-box;
            outline: none;
            padding-left: 45px;
            background: #a10000;
            border: 0;
            border-radius: 100px;
            height: 30px;
            color: #fff;
            width: 100%;
            font-weight: 400;
          }

          .mapMarker {
            display: none;
          }
        }
      }
    }
  }
}

@media all and (max-width: 425px) {
  .headerSection {
    background: #c22a28;

    padding: 10px;

    .wrapper {
      margin: 0 auto;
      max-width: 1280px;
      height: 100%;

      padding: 0;
      width: auto;

      .content {
        position: relative;
        display: flex;
        justify-content: space-between;

        align-items: center;

        .logoSection {
          display: none;
        }

        .itemsInputsSection {
          display: none;
        }

        .itemsLinksSection {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          color: #fff;

          width: auto;
          max-width: 170px;

          .btnJobAd {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border: solid 1px #ffffff;
            font-weight: 600;
            cursor: pointer;
            background: none;
            border-radius: 100px;
            color: #fff;

            min-width: auto;
            padding: 3px 10px;
            max-width: 250px;
            height: auto;
            font-size: 12px;
          }

          .alreadyRegisterText {
            color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            font-weight: normal;
            line-height: 18px;

            font-size: 11px;
            margin-top: 5px;

            .alreadyRegisterLogIn {
              font-weight: bold;
              cursor: pointer;
              color: #ffffff;
              font-family: 'Open Sans', sans-serif;
              line-height: 18px;
              text-decoration: none;

              font-size: 12px;
            }
          }

          .links {
            color: #fff;
            font-weight: 400;

            font-size: 12px;
          }
        }

        .justifyRightSearch {

          position: static;
          top: 20px;
          left: 100%;
          width: 100%;
          max-width: 80px;
          font-size: 11px;
        }
      }

      .itemsInputsSectionBottom {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;

        .titleJob {
          position: relative;
          width: 100%;
          margin-bottom: 10px;

          .wrapperSearchIcon {
            position: absolute;
            top: 0;
            left: 15px;
            display: flex;
            align-items: center;
            height: 100%;

            .searchJobIcon {
              width: 18px;
              height: 18px;
              min-width: 18px;
              min-height: 18px;

              & > path {
                fill: #fff;
              }
            }
          }

          .input {
            padding: 0;
            box-sizing: border-box;
            outline: none;
            padding-left: 40px;
            width: 100%;
            background: #a10000;
            border: 0;
            border-radius: 100px;
            height: 30px;
            color: #fff;
            font-weight: 400;
          }
        }

        .titleCountry {
          position: relative;
          max-width: 100%;
          width: 100%;
          display: inline-block;

          .flagSelectWrapper {
            position: absolute;
            left: 13px;
            top: 8px;
          }

          .input {
            padding: 0;
            box-sizing: border-box;
            outline: none;
            padding-left: 45px;
            background: #a10000;
            border: 0;
            border-radius: 100px;
            height: 30px;
            color: #fff;
            width: 100%;
            font-weight: 400;
          }

          .mapMarker {
            display: none;
          }
        }
      }
    }
  }
}
