.btnToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;

  &:hover {
    cursor: pointer;
    background-color: #333;
  }

  &:active {
    background-color: #555;
  }

  .arrow {
    width: 60%;
    height: 60%;
    margin-bottom: 10%;
  }
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
}

@media all and (max-width: 992px) {
  .btnToTop {
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 20px;
  }
}