@import '../globalStyles/reset';

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.requiredDataWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .contactForm {
    position: relative;
    max-width: 500px;
    width: 90%;
    padding: 25px 0;

    .header {
      margin-bottom: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid black;

      .title {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
      }

      .closeBtn {
        color: #000;
        font-size: 24px;
        transition: opacity .5s;

        &:hover {
          opacity: .5;
          cursor: pointer;
        }

        @media all and (min-width: 370px) {
          font-size: 20px;
        }
      }
    }

    .subTitle {
      font-size: 13px;
      color: #888;
      font-weight: 400;
    }

    .form {
      .columnWrapper {
        display: flex;

        .inputColumn {
          width: 100%;
        }

        .mr10 {
          margin-right: 10px;
        }
      }

      .label {
        width: 100%;
        margin-bottom: 16px;

        .labelText {
          font-weight: 600;
          font-size: 14px;
          margin-bottom: 6px;

          .require {
            font-weight: 600;
            color: #ff5800;
          }
        }

        .input {
          width: 100%;
          padding: 5px;
          font-size: 14px;
          border: 1px solid #c6c6c6;
          border-radius: 3px;
          resize: none;
          box-sizing: border-box;
        }

        .errorMessage {
          padding: 3px;
          color: #ff5800;
          font-size: 12px;
        }

        .invalidInput {
          border-color: #ff5800;
        }
      }

      .label-error {
        .input {
          border-color: #ff5800;
        }
      }

      .mandatory {
        font-size: 12px;
        color: #888;
      }

      .btnSubmit {
        margin-top: 12px;
        letter-spacing: 1px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 40px;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        border: 0;
        border-radius: 100px;
        background: #00c590;
        text-decoration: none;
        transition: background .5s;

        &:hover {
          cursor: pointer;
          background: #00A991;
        }
      }
    }

    .privacyWarn {
      margin-top: 12px;
      font-size: 14px;
      font-weight: normal;

      .link {
        font-weight: 600;
        color: #b33932;
      }
    }
  }
}

@media all and (max-width: 784px) {
  .contactForm {
    max-width: 500px;
    width: 90%;
  }
}