.flagsSelect {
  .wrapper {
    display: flex;
    cursor: pointer;

    & img {
      width: 100%;
      height: 100%;
      margin-right: 5px;
    }

    .countryName {
      text-align: left;
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
    }

    .flagWrapper {
      margin-right: 5px;
      width: 22px;
      height: 15px;
      min-width: 22px;
      min-height: 15px;
    }
  }

  .flagList {
    width: 165px;
    max-height: 150px;
    overflow: auto;
    position: absolute;
    top: 20px;
    left: -1px;
    z-index: 5;
    list-style: none;
    padding: 2px;
    background-color: #fff;
    border: 1px solid black;

    .listItem {
      padding: 2px 0;
    }
  }
}
