@import '../globalStyles/reset';

.root {
}

.btnContactUs {
  background-color: transparent;
  border: none;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: red;
  }
}

.warningMessage {
  color: #ff524f;
  border-color: #ff524f !important;
}

.errorMessage {
  background-color: #ff524f;
  color: #ffffff;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;

  margin: 20px auto 0;
}

.leftColumnList {
  display: inline-block;
  max-width: 298px;
  background: #f7f7f7;
  width: 100%;
  min-height: 100px;
  vertical-align: top;

  @media all and (max-width: 1279px) {
    max-width: 100%;
    text-align: center;
  }
}

.rightColumnList {
  padding: 49px 94px 49px 40px;
  display: inline-block;
  max-width: 982px;
  background: #f6f8f9;
  width: 100%;
  vertical-align: top;
  min-height: 100px;
  border-left: solid 1px #dadce0;
  box-sizing: border-box;

  @media all and (max-width: 1279px) {
    padding: 49px;
    margin: 0 auto;
    border-left: 0;
  }

  @media all and (max-width: 762px) {
    padding: 10px;
  }
}

.messageText {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;

  .whiteText {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
}

.itemBlock {
  position: fixed;
  margin-top: 64px;
  padding-left: 22px;
  font-size: 20px;
  color: #444444;

  @media all and (max-width: 1279px) {
    position: static;
    padding-left: 0;
    font-size: 20px;
    text-align: center;
  }
}

.blockDescription {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;

}

.title {
  padding-bottom: 10px;
  border-bottom: solid 1px #e2e3e8;
}

.itemBlockIcon {
  margin-right: 15px;

  > path {
    fill: #707070;
  }
}

.itemBlockName {
  font-weight: 600;
}

.listWrapper {

}

.column {
  flex-direction: column;
}

.blockOfItem {
  position: relative;
  margin-bottom: 20px;
  padding: 20px 127px 27px 27px;
  max-width: 848px;
  background: #fff;
  border-radius: 10px;
  border: solid 1px #e2e3e8;

  @media all and (max-width: 1279px) {
    padding: 30px;
  }

  @media all and (max-width: 762px) {
    padding: 10px;
  }

  .removeCompanyBtnWrapper {
    position: absolute;
    top: 0;
    right: 0;

    .removeCompanyBtn {
      width: 40px;
      height: 40px;
      padding: 10px;
      cursor: pointer;

      .img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.btnAddCompanyWrapper {
  display: flex;
  justify-content: flex-end;

  .btnAddCompany {
    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    padding: 10px 40px;
    background: none;
    border-radius: 100px;
    cursor: pointer;
    transition: .5s;

    .btnAddCompanyText {
      color: #ffffff;
      font-weight: 600;
      font-size: 14px;

      @media all and (max-width: 762px) {
        font-size: 12px;
      }
    }

    @media all and (max-width: 762px) {
      padding: 10px 20px;
    }

    .imgWrapper {
      margin-left: 10px;
      width: 15px;
      height: 15px;

      .img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .green {
    background-color: #00c590;

    &:hover {
      opacity: .9;
    }
  }

  .orange {
    background-color: #ff524f;

    &:hover {
      opacity: .9;
    }
  }
}

.blockName {
  margin: 0;
  font-size: 24px;
  font-weight: 600;

  @media all and (max-width: 762px) {
    font-size: 16px;
  }
}

.itemEl {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  min-width: 314px;
  max-width: 350px;

  @media all and (max-width: 762px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.successMsg {
  margin: 0 10px;
  display: block;
  color: #35c500;
  font-size: 14px;
  font-weight: 400;
}

.blockDetails {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;

  @media all and (max-width: 762px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.itemPopup {
  display: inline-block;

  .button {
    outline: none;
    border: solid 1px #3e3d40;
    padding: 10px 40px;
    background: none;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    transition: .5s;

    @media all and (max-width: 762px) {
      padding: 10px 20px;
      font-size: 12px;
    }

    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }
}

.iconDescription {
  display: flex;
  font-size: 25px;

  @media all and (max-width: 762px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .itemBlockIcon {

    > path {
      fill: #d8d8d8;
    }
  }

  .activeIcon {

    > path {
      fill: #fbbc05;
    }
  }
}

.iconText {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #444;
  line-height: 2;
}

.text {
  font-weight: 400;
}

.paketName {
  font-weight: 600;
}

.periodOfPlan {
  font-size: 10px;
  font-weight: 600;

  .time {
    font-weight: 600;
  }
}

.blockWrapper {
  display: flex;
}

.fileInputHintWrapper {
  display: flex;
  margin-top: 15px;
}

.blockWithIcon {
  .itemHint {
    margin-right: 5px;

    > path {
      fill: #fbbc05;
    }
  }

  .itemSky {
    margin-right: 10px;
    font-size: 25px;

    > path {
      fill: #4285f4;
    }
  }
}

.blockWithText {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.form {
  margin-top: 40px;

  .btnWrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: left;

    .confirmDeleteWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .confirmDeleteMessage {
        font-size: 15px;
      }

      .confirmDeleteBtnWrapper {
        padding: 10px 0;

        .confirmDeleteYes {
          padding: 5px 30px;
          min-width: 150px;
          font-size: 16px;
          font-weight: 600;
          border: 0;
          border-radius: 100px;
          background-color: #00c590;
          cursor: pointer;
          color: #fff;
          transition: all .5s;

          &:hover {
            opacity: .8;
          }
        }

        .confirmDeleteNo {
          margin-left: 10px;
          padding: 5px 30px;
          min-width: 150px;
          font-size: 16px;
          font-weight: 600;
          border: 0;
          border-radius: 100px;
          background-color: #ff524f;
          cursor: pointer;
          color: #fff;
          transition: all .5s;

          &:hover {
            opacity: .8;
          }
        }
      }
    }

    .saveBtn {
      padding: 16px 30px;
      min-width: 200px;
      font-size: 16px;
      font-weight: 600;
      border: 0;
      border-radius: 100px;
      background-color: #00c590;
      cursor: pointer;
      color: #fff;
      transition: all .5s;

      &:hover {
        opacity: .8;
      }
    }

    .deleteBtn {
      margin-left: 20px;
      outline: none;
      border: solid 1px #3e3d40;
      padding: 16px 30px;
      min-width: 200px;
      background: none;
      border-radius: 100px;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      transition: .5s;

      &:hover {
        background: rgba(0, 0, 0, .1);
      }
    }
  }
}

.formEl {
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;

  @media all and (max-width: 762px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.alignCenter {
  display: flex;
  align-items: center;
}

.checkboxWrapper {
  margin-left: 60px;
}

.inputWrapper {
  margin-left: 60px;
  width: 100%;

  @media all and (max-width: 762px) {
    margin-left: 0;
  }

  .companyLogoWrapper {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;

    .companyLogo {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}

.input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: solid 1px #d3d4db;
  background-color: #ffffff;
  box-sizing: border-box;
  font-weight: 400;
}

.inputLabel {
  margin: 10px 0;
  display: flex;
}

.labelWrapper {
  max-width: 155px;
  width: 100%;

  .subName {
    max-width: 155px;
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    color: #444444;
  }
}

.labelName {
  display: flex;
  align-items: center;
  max-width: 155px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;

  @media all and (max-width: 762px) {
    max-width: 100%;
    margin-bottom: 15px;
  }
}

.textarea {
  max-height: 139px;
  height: 100%;
  resize: none;
}

.file {
  opacity: 0;
}

.setPositionRelative {
  position: relative;
}

.fileInput {
  .file {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

  .text {
    font-size: 15px;
    text-decoration: underline;
    font-weight: 400;
  }

  .inputLabel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.hidden {
  visibility: hidden;
}

.modal {
  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    font-size: 24px;
    transition: opacity .5s;

    &:hover {
      opacity: .5;
      cursor: pointer;
    }

    @media all and (min-width: 370px) {
      font-size: 20px;
    }
  }
}

.billsTable {
  width: 100%;

  .billsItem {
    width: 100%;
    min-width: 110px;
    padding: 5px;
    display: flex;
    align-items: center;

    &:nth-child(1) {
      width: 110px;
      max-width: 110px;
    }

    &:nth-child(2) {
      width: 110px;
      max-width: 110px;
    }

    &:nth-child(3) {
      width: 185px;
      max-width: 185px;
      min-width: 185px;
    }

    &:last-child {
      width: 120px;
      min-width: 120px;
      justify-content: center;
    }
  }

  .billsHeaderRow {
    display: flex;
    justify-content: space-between;

    .billsItem {
      font-weight: 600;
    }
  }

  .billsRow {
    display: flex;
    justify-content: space-between;

    .billsItem {
      font-size: 13px;

      .downloadLink {
        width: 20px;
        height: 20px;
        display: block;

        .downloadImg {
          cursor: pointer;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
