* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.root {
  margin-top: 100px;
  background: #f7f7f7;
  min-height: calc(100Vh - 192px);
  padding-bottom: 50px;
  position: relative;

  @media all and (max-width: 1024px) {
    margin-top: 73px;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  background: #f7f7f7;
}

.noResponsive {
  min-width: 1024px;
}

.separator {
  background: #f7f7f7;
  position: absolute;
  width: 100%;
  bottom: 0;

  .separatorImg {
    display: block;
    width: 100%;

    @media all and (max-width: 992px) {
      display: none;
    }
  }
}

.footerPosition {
  position: absolute;
  top: calc(100% + 50px);

  @media all and (max-width: 1024px) {
    top: calc(100%);
  }
}
