@import '../../globalStyles/reset';

.root {
  position: fixed;
  top: 45vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;
  max-width: 696px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  background: rgba(93, 249, 192, 0.1);
  z-index: 200;
  display: flex;
  align-items: center;

  @media all and (max-width: 496px) {
    font-size: 14px;
  }

  .message {
    width: calc(100% - 40px);
    margin: 0 15px;
    padding: 0 10px;
  }

  .button {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;

    .btnClose {
      cursor: pointer;
      padding: 5px;
      margin: 0;
      width: 40px;
      height: 40px;
      min-width: 30px;
      min-height: 30px;

      .img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.bgTransparent {
  background-color: transparent;
}

.whiteText {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 800;
  color: #ffffff;
}

.whiteLink {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.icon {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  margin-right: 15px;

  > path {
    fill: #00c590;
  }
}

.infoIcon > path {
  fill: #f24c48;
}

.errorMsg {
  background: rgba(194, 42, 40, 0.9);
  border: 1px solid #c22a28;
}

.successMsg {
  background: rgba(93, 249, 192, 0.9);
  border: 1px solid #00c590;
}

.alertMessageSuccess {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.alertMessageFailure {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
