.accordionSection {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    .accordion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 40px;
        padding-left: 23px;
        border-radius: 5px;
        border: solid 1px #dddddd;
        background-color: #ffffff;
        cursor: pointer;
        outline: 0;
        transition: background-color .5s;

        &::-moz-focus-inner {
            border: 0;
        }

        &:hover {
            background-color: #edeef6;
        }

        .accordionTitle {
            padding-right: 20px;
            font-size: 16px;
            font-weight: 400;
            text-align: left;
            transition: font-weight .5s;

            &:active {
                color: #000000;
            }
        }

        .accordionIcon {
            margin-left: auto;
            transition: transform 0.6s ease;

            > path {
                fill: #999999;
            }
        }
    }

    .active {
        background-color: #edeef6;
        border-bottom: 0;
        border-radius: 5px 5px 0 0;

        .accordionTitle {
            font-weight: 600;
        }

        & + .accordionContent {
            visibility: visible;
        }
    }

    .accordionContent {
        margin-top: -5px;
        padding-bottom: 5px;
        background-color: #edeef6;
        border: solid 1px #dddddd;
        border-top: 0;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        line-height: 1.71;
        font-weight: 400;
        visibility: hidden;
        transition: visibility .6s ease, max-height 0.6s ease;

        .accordionText {
            font-weight: 400;
            font-size: 14px;
            padding: 0 40px 10px 23px;
        }
    }
}
