@import '../globalStyles/reset';

.staticPageWrapper {
  display: flex;
  justify-content: center;
  padding: 30px 100px;
  max-width: 1200px;
  margin: 0 auto;

  .staticPage {
    .mainTitle {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: bold;
    }

    .secondaryTitle {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: bold;
    }

    .text {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
