@import '../globalStyles/reset';

.jobOverviewWrapper {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 15px 30px 30px 40px;
  background-color: #f6f8f9;

  .jobOverview {
    padding: 32px 50px 50px;
    border-radius: 10px;
    border: solid 1px #e2e3e8;
    background-color: #ffffff;

    .mainTitleWrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .jobOverviewTitle {
        margin: 0 20px 0 0 !important;
        font-family: 'Open Sans', sans-serif;
        font-size: 31px;
        font-weight: bold;
        line-height: 1.35;
        color: #000000;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .jobControllerWrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .copiedMsg {
          font-size: 12px;
          width: 100px;
          color: #00c590;
          display: inline-block;
        }

        .pointer {
          cursor: pointer;
        }

        .closeJobWrapper {
          display: none;
          width: 30px;
          height: 30px;
          min-width: 30px;
          min-height: 30px;
          cursor: pointer;
          margin-left: 8px;

          .img {
            opacity: 0.6;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .mb15 {
      margin-bottom: 15px;
    }

    .buttonLight {
      padding: 0 50px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      outline: none;
      background-color: #ffffff;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 16px;
      color: #00c590;
      border: 1px solid #00c590;
      border-radius: 100px;
      cursor: pointer;

      &:hover {
        background-color: #00c590;
        color: #ffffff;
      }
    }

    .flex {
      display: flex;
    }

    .jobOverviewWrapperMain {
      display: flex;

      .companyInfo {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .companyContentEmptyLogo {
          margin-right: 17px;
          width: 56px;
          height: 56px;
          max-width: 56px;
          max-height: 56px;
          background-color: #cccccc;
        }

        .companyContentLogoWrapper {
          margin-right: 17px;
          width: 56px;
          height: 56px;
          max-width: 56px;
          max-height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;

          .companyContentLogo {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
          }
        }

        .companyDescr {

          & > * {
            margin-right: 25px;
            font-size: 14px;
            font-weight: 400;
            color: #444;
          }
        }

        .companyName {
          display: block;
        }
      }

      .jobInfoOverviewWrapper {
        .jobInfoOverview {
          margin-top: 13px;
          width: 269px;
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          line-height: 1.42;
          letter-spacing: 0.3px;
          color: #444444;

          .jobInfoOverviewBold {
            font-weight: 600;
          }
        }
      }
    }

    .delimiter {
      margin: 15px 0;
      width: 100%;
      height: 1px;
      background-color: #e2e3e8;
    }

    .jobOverviewCompanyDescription {
      width: 230px;

      .jobOverviewCompanyName {
        margin-bottom: 5px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 1.36;
        letter-spacing: 0.35px;
        color: #444444;
      }

      .jobDescriptionWrapper {
        .jobInfoItem {
          min-width: 50%;
          display: flex;

          .jobInfoIconWrapper {
            width: 18px;
            height: 18px;

            .jobInfoIcon {
              width: 100%;
              height: 100%;
            }
          }

          .jobInfoDescription {
            margin-left: 4px;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            line-height: 1.42;
            letter-spacing: 0.3px;
            color: #444444;
          }
        }
      }
    }

    .jobOverviewDescriptionWrapper {
      * > {
        font-size: 16px;
      }

      & ul, ol {
        margin-left: 20px;

        & > li {
          margin: 10px 10px 10px 0;
        }
      }

      .jobOverviewQualifications {

        .jobOverviewQualificationItem {
          display: block;
          margin: 10px 0 0 20px;
        }
      }

      .ml10 {
        margin-left: 10px;
      }

      .jobOverviewDescriptionTitle {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
      }

      .jobOverviewDescription {
        font-family: 'Open Sans', sans-serif;
        line-height: 25px;
      }

      .listItem {
        margin: 10px;
        font-family: 'Open Sans', sans-serif;
        line-height: 25px;
      }

      .btnApplyJobLarge {
        font-size: 16px;
        outline: none;
        padding: 9px 70px;
        width: 100%;
        height: 39.9px;
        border-radius: 100px;
        background-color: #00c590;
        border: 0;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
      }

      .ckEditor {
        font-family: 'Open Sans', sans-serif;
      }
    }

    .btnAcceptBlock {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .mr15 {
        margin-right: 15px;
      }

      .icon {

        > path {
          fill: #707070;
        }
      }

      .searchJobIcon {

        > path {
          fill: #fb6051;
        }
      }

      .searchIconRight {

        > path {
          fill: #68676b;
        }
      }

      .selectAllCompanyJobs {
        max-width: 30%;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;

        .text {
          font-size: 14px;
          font-weight: 400;
        }

        & > * {
          margin-right: 10px;
        }
      }

      .btnApplyJob {
        outline: none;
        padding: 9px 50px;
        height: 39.9px;
        border-radius: 100px;
        background-color: #00c590;
        border: 0;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.modalSendCV {
  padding: 15px 45px 10px 10px;

  .modalSendCVHeader {
    position: relative;
    display: flex;
    margin-bottom: 30px;

    .modalSendCVHeaderLogoWrapper {
      padding: 8px;
      border: 1px solid #dadce0;
      width: 56px;
      height: 56px;
      min-width: 56px;
      max-width: 56px;
      min-height: 56px;
      max-height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;

      .modalSendCVHeaderLogo {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }

    .modalSendCVHeaderTitle {
      margin-left: 50px;
      font-family: 'Open Sans', sans-serif;
      font-size: 21px;
      line-height: 28px;
      color: #3e3d40;

      .modalSendCVHeaderTitleBold {
        font-weight: bold;
      }
    }

    .closeCompanyImgWrapper {
      position: absolute;
      top: -30px;
      right: -60px;
      width: 25px;
      height: 25px;
      padding: 10px;
      cursor: pointer;

      .img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .modalSendCVForm {

    .warn {
      color: #ff524f !important;
      border-color: #ff524f !important;
    }

    .hiddenInput {
      display: none;
      tab-index: -1;
    }

    .modalSendCVInputWrapper {
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      .warnBorder {
        border: 1px solid #ff524f;
      }

      .modalSendCVLabel {
        width: 115px;
        min-width: 115px;
        padding-right: 10px;
        color: #444444;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
      }

      .modalSendCVInput {
        padding: 0 15px;
        font-family: 'Open Sans', sans-serif;
        outline: none;
        font-size: 14px;
        width: 100%;
        height: 40px;
        color: #68676b;
        font-weight: 400;
        border: 1px solid #d3d4db;
      }
    }

    .modalSendCVInputFileWrapper {
      display: flex;
      margin-bottom: 20px;

      .modalSendCVInputFileLabel {
        width: 115px;
        padding-right: 10px;

        .modalSendCVLabel {
          width: 115px;
          color: #444444;
          font-size: 14px;
          font-weight: bold;
          font-family: 'Open Sans', sans-serif;
        }

        .modalSendCVLabelLight {
          font-size: 12px;
          color: #444444;
          font-weight: normal;
          font-family: 'Open Sans', sans-serif;
        }
      }

      .modalSendCVFileLabelWrapper {
        width: 100%;

        .documentName {
          margin: 0 auto;
          padding: 5px;
          font-size: 13px;
          font-family: "Open Sans", sans-serif;
          color: #68676b;
          display: flex;
          justify-content: space-between;
          align-content: baseline;

          .closeWrapper {
            cursor: pointer;
            width: 15px;
            height: 15px;
            min-width: 15px;
            min-height: 15px;

            .img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .uploadSuccess {
          color: green;
        }

        .uploadSuccessAligns {
          margin: -5px 0 10px;
          text-align: center;
        }

        .modalSendCVFileLabel {
          border-radius: 50px;
          font-family: 'Open Sans', sans-serif;
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          height: 40px;
          width: 100%;
          align-items: center;
          border: 1px solid #68676b;
          background-color: #ffffff;
          font-size: 14px;
          text-align: center;
          line-height: 19px;
          letter-spacing: 0.77px;

          .modalSendCVLabel {
            color: #444444;
            font-size: 14px;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
          }

          .modalSendCVLabelLight {
            font-size: 12px;
            color: #444444;
            font-weight: normal;
            font-family: 'Open Sans', sans-serif;
          }

          .modalSendCVInputFile {
            display: none;
          }

          .modalSendCVFileLabelClipWrapper {
            width: 14px;
            height: 17px;
            margin-right: 10px;

            .modalSendCVFileLabelClip {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .modalSendCVCheckboxWrapper {
      display: flex;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      width: 100%;
      color: #68676b;

      .link {
        text-decoration: none;
      }

      .modalSendCVCheckbox {
        margin: 0 10px;
        padding-right: 10px;
      }
    }

    .modalSendCVBtn {
      width: 100%;
      height: 45px;
      outline: none;
      background-color: #00c590;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 16px;
      color: #ffffff;
      border-radius: 100px;
      border: none;
      cursor: pointer;
    }

    .btnDisable {
      background-color: red;
      cursor: no-drop;
      opacity: 0.5;
    }
  }
}

@media all and (max-width: 1460px) {
  .jobOverviewWrapper {
    .jobOverview {
      padding: 30px 30px 50px;

      .buttonLight {
        padding: 0 20px;
      }

      .btnAcceptBlock {
        .btnApplyJob {
          outline: none;
          padding: 9px 20px;
        }
      }
    }
  }
}

@media all and (max-width: 1280px) {
  .jobOverviewWrapper {
    padding: 15px;

    .jobOverview {
      padding: 30px 30px 50px;

      .buttonLight {
        padding: 0 20px;
        font-size: 13px;
      }

      .jobOverviewCompanyDescription {
        width: 230px;
      }

      .btnAcceptBlock {
        .btnApplyJob {
          padding: 9px 20px;
          font-size: 13px;
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .jobOverviewWrapper {
    padding: 10px;

    .jobOverview {
      padding: 15px 25px;

      .jobOverviewTitle {
        font-size: 22px;
      }

      .jobOverviewWrapperMain {
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        .companyInfo {
          .jobOverviewCompanyDescription {
            width: 230px;
          }
        }
      }

      .btnAcceptBlock {
        display: flex;
        flex-direction: column-reverse;

        .mr15 {
          margin-right: 0;
        }

        .selectAllCompanyJobs {
          max-width: 100%;
          margin-bottom: 10px;

          .text {
            font-size: 13px;
          }

          & > * {
            margin-right: 0;
          }
        }

        .btnApplyJob {
          padding: 9px 20px;
          font-size: 16px;
          width: 100%;
        }
      }

      .buttonLight {
        padding: 0;
        font-size: 16px;
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 595px) {
  .jobOverviewWrapper {
    padding: 10px;

    .jobOverview {
      padding: 15px 25px;

      .mainTitleWrapper {
        display: flex;
        justify-content: space-between;

        .jobOverviewTitle {
          margin: 0;
          font-family: 'Open Sans', sans-serif;
          font-size: 22px;
          font-weight: bold;
          line-height: 1.35;
          color: #000000;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .jobControllerWrapper {
          .closeJobWrapper {
            display: block;
          }
        }
      }

      .mb15 {
        margin-bottom: 15px;
      }

      .buttonLight {
        padding: 0;
        margin-right: 0;
        font-size: 16px;

        &:hover {
          background-color: #00c590;
          color: #ffffff;
        }
      }

      .jobOverviewWrapperMain {
        margin-top: 10px;
        flex-direction: column;
      }

      .btnAcceptBlock {
        .mr15 {
          margin-right: 0;
        }

        .selectAllCompanyJobs {
          max-width: 100%;
        }
      }
    }
  }

  .modalSendCV {
    margin: 30px;
    width: 80%;
    padding: 0;

    .modalSendCVHeader {
      .modalSendCVHeaderLogoWrapper {
        padding: 0;
        border: none;
      }

      .modalSendCVHeaderTitle {
        font-size: 16px;
        line-height: normal;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      .closeCompanyImgWrapper {
        position: absolute;
        top: -10px;
        right: -30px;
        width: 25px;
        height: 25px;
        padding: 10px;
        cursor: pointer;
      }
    }

    .modalSendCVForm {
      .modalSendCVInputWrapper {
        align-items: normal;
        margin-bottom: 15px;
        flex-direction: column;

        .modalSendCVLabel {
          padding: 0;
          min-width: auto;
          width: 100%;
        }

        .modalSendCVInput {
          width: auto;
        }
      }

      .modalSendCVInputFileWrapper {
        flex-direction: column;

        .modalSendCVInputFileLabel {
          width: auto;
          padding-right: 0;
          display: flex;

          .modalSendCVLabel {
            width: auto;
            margin-right: 5px;
          }
        }

        .modalSendCVFileLabelWrapper {
          .uploadSuccess {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 425px) {
  .jobOverviewWrapper {
    padding: 10px;

    .jobOverview {
      padding: 15px 25px;

      .mainTitleWrapper {
        display: flex;
        justify-content: space-between;

        .jobOverviewTitle {
          margin: 0;
          font-family: 'Open Sans', sans-serif;
          font-size: 22px;
          font-weight: bold;
          line-height: 1.35;
          color: #000000;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .jobControllerWrapper {
          .closeJobWrapper {
            display: block;
          }
        }
      }

      .mb15 {
        margin-bottom: 15px;
      }

      .buttonLight {
        padding: 0;
        margin-right: 0;
        font-size: 16px;

        &:hover {
          background-color: #00c590;
          color: #ffffff;
        }
      }

      .jobOverviewWrapperMain {
        margin-top: 10px;
        flex-direction: column;

        .jobOverviewCompanyDescription {
          .jobDescriptionWrapper {
            .flex {
              flex-direction: column;

              .jobInfoItem {
                margin-bottom: 5px;
              }
            }
          }
        }
      }

      .btnAcceptBlock {
        .mr15 {
          margin-right: 0;
        }

        .selectAllCompanyJobs {
          max-width: 100%;
        }
      }
    }
  }

  .modalSendCV {
    width: 80%;
    padding: 0;
    margin: 30px 25px;

    .modalSendCVHeader {
      .modalSendCVHeaderLogoWrapper {
        padding: 0;
        border: none;
      }

      .modalSendCVHeaderTitle {
        font-size: 16px;
        line-height: normal;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      .closeCompanyImgWrapper {
        position: absolute;
        top: -10px;
        right: -30px;
        width: 25px;
        height: 25px;
        padding: 10px;
        cursor: pointer;
      }
    }

    .modalSendCVForm {
      .modalSendCVInputWrapper {
        align-items: normal;
        margin-bottom: 15px;
        flex-direction: column;

        .modalSendCVLabel {
          padding: 0;
          min-width: auto;
          width: 100%;
        }

        .modalSendCVInput {
          width: auto;
        }
      }

      .modalSendCVInputFileWrapper {
        flex-direction: column;

        .modalSendCVInputFileLabel {
          width: auto;
          padding-right: 0;
          display: flex;

          .modalSendCVLabel {
            width: auto;
            margin-right: 5px;
          }
        }
      }

      .modalSendCVCheckboxWrapper {
        font-size: 11px;
        align-items: normal;
      }
    }
  }
}
