@import '../globalStyles/reset';

.root {
  background: #f7f7f7;
  min-height: calc(100vh - 126px);
  position: relative;
  padding-bottom: 64px;

  .bgcGray {
    background-color: #f6f8f9;
  }

  .wrapper {
    padding: 0 50px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 100%;

    .flex {
      display: flex;
    }

    .mb40 {
      margin-bottom: 40px;
    }

    .headerSearch {
      margin: 5px auto 13px;
      max-width: 1280px;

      .distanceBtnWrapper {
        margin-right: 35px;

        .btnSquare {
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          background-color: #ffffff;
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          line-height: 1.83;
          letter-spacing: 0.12px;
          color: #68676b;
          border: solid 1px #dadce0;
          padding: 2px 12px;
          min-width: 50px;

          &:hover {
            cursor: pointer;
            color: #fb6051;
            border-color: #fb6051;
          }

          &:focus {
            border-color: #fb6051;
          }
        }

        .active {
          border: solid 1px #fb6051;
          background-color: rgba(251, 96, 81, 0.1);
          color: #a10000;
        }
      }

      .btnRounded {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        line-height: 1.83;
        letter-spacing: 0.12px;
        color: #68676b;
        border: solid 1px #dadce0;
        border-radius: 15px;
        padding: 2px 20px;
        margin: 0 10px 10px 0;
        min-width: 50px;

        &:hover {
          cursor: pointer;
          color: #fb6051;
          border-color: #fb6051;
        }

        &:focus {
          border-color: #fb6051;
        }
      }

      .sortedWrapper {
        display: flex;
        margin-bottom: 15px;

        .sortButton {
          padding: 5px 12px;
          margin: 0 5px;
          border: none;
          border-bottom: 2px solid transparent;
          background-color: transparent;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: 600;
          line-height: 1.57;
          letter-spacing: 0.14px;
          color: #68676b;

          &:hover {
            cursor: pointer;
            color: #fb6051;
            border-color: #fb6051;
          }

          &:focus {
            outline: none;
          }
        }

        .active {
          border-bottom-color: #fb6051;
        }
      }

      .filtersWrapper {
        display: flex;
        justify-content: space-between;

        .active {
          border: solid 1px #fb6051;
          background-color: rgba(251, 96, 81, 0.1);
          color: #a10000;
        }
      }

      .w450 {
        min-width: 450px;
      }
    }

    .companyInfoWrapper {
      position: relative;
      padding: 40px 35px 50px 25px;
      border: solid 1px #dadce0;
      display: flex;

      .companyInfoInnerWrapper {
        width: 100%;
        display: flex;
      }

      .companyLogoWrapper {
        width: 150px;
        height: 150px;
        border: solid 1px #dadce0;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

        .companyLogoInnerWrapper {
          width: 110px;
          height: 110px;
          display: flex;
          justify-content: center;
          align-items: center;

          .logo {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
          }
        }

        .companyLogoInnerWrapper2 {
          width: 110px;
          height: 110px;
          background-color: #cccccc;
        }
      }

      .companyMainInfoWrapper {
        margin-left: 25px;
        width: 435px;

        .companyName {
          font-family: 'Open Sans', sans-serif;
          font-size: 31px;
          font-weight: bold;
          line-height: 1.35;
          text-align: left;
          color: #000000;
          margin-bottom: 20px;
        }

        .companyDescription {
          max-width: 580px;
          width: 100%;
          display: flex;
          align-items: center;
          margin: 0 0 15px 0;

          .descriptionIconWrapper {
            width: 20px;
            height: 20px;
            min-width: 20px;
            min-height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            .descriptionIcon {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
          }

          .descriptionText {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 1.36;
            letter-spacing: 0.35px;
            color: #444444;
            margin-left: 10px;
            display: flex;
            align-items: center;

            .link {
              color: #444444;
              font-size: 14px;
              font-family: 'Open Sans', sans-serif;
              letter-spacing: 0.35px;
              text-decoration: none;
            }
          }
        }
      }

      .companyDescription {
        margin-left: 25px;

        .companyDescriptionTitle {
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.36;
          letter-spacing: 0.35px;
          color: #444444;
          margin-bottom: 10px;
        }

        .companyDescriptionText {
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          line-height: 1.79;
          letter-spacing: 0.14px;
          text-align: left;
          color: #000000;
        }
      }

      .companyDescription2 {
        display: none;
      }

      .closeCompanyImgWrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        padding: 10px;
        cursor: pointer;

        .img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .leftColumnList {
      display: inline-block;
      max-width: 392px;
      background: #f7f7f7;
      width: 100%;
      height: 100%;
      min-height: 100px;
      vertical-align: top;
      max-height: 100vh;
      overflow: auto;
      position: sticky;
      top: 0;

      .itemBlock {
        max-width: 392px;
        width: 100%;
        margin-top: 0;
        padding-left: 0;
        font-size: 16px;
        color: #444444;
        height: calc(100% - 270px);
        overflow: hidden;

        .flexCenter {
          display: flex;
          justify-content: center;
        }

        .item {
          text-decoration: none;
          cursor: pointer;
          padding: 25px 25px 17px 25px;
          max-width: 392px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          background: #f7f7f7;
          transition: background .5s;

          &:hover {
            cursor: pointer;
            background: #e5e5e5;
          }

          .description {
            margin-left: 17px;
            width: 100%;

            .titleJobItem {
              font-family: 'Open Sans', sans-serif;
              font-size: 16px;
              font-weight: 600;
              line-height: 1.38;
              letter-spacing: 0.4px;
              color: #444444;
            }

            .companyJobItemDescription {
              font-family: 'Open Sans', sans-serif;
              font-size: 14px;
              line-height: 1.36;
              letter-spacing: 0.35px;
              color: #444444;
              margin-top: 5px;
            }

            .jobDescriptionWrapper {
              display: flex;
              margin-top: 15px;

              align-items: normal;

              .jobInfoItem {
                min-width: 50%;
                display: flex;

                .jobInfoIconWrapper {
                  width: 18px;
                  height: 18px;
                  min-width: 18px;
                  min-height: 18px;

                  .jobInfoIcon {
                    width: 100%;
                    height: 100%;
                  }
                }

                .jobInfoDescription {
                  margin-left: 4px;
                  font-family: 'Open Sans', sans-serif;
                  font-size: 12px;
                  line-height: 1.42;
                  letter-spacing: 0.3px;
                  color: #444444;
                }
              }
            }
          }

          .image {
            margin-right: 17px;
            min-width: 42px;
            width: 42px;
            height: 42px;
            padding: 8px;
            background-color: #fff;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .img {
              cursor: pointer;
              max-width: 100%;
              max-height: 100%;
              width: auto;
              height: auto;
            }
          }

          .image2 {
            margin-right: 17px;
            width: 42px;
            min-width: 42px;
            height: 42px;
            padding: 8px;
            background-color: #cccccc;
            cursor: pointer;
          }

          .companyName {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #444444;
          }

          .countryName {
            display: block;
            font-size: 14px;
            font-weight: 400;
            color: #444444;
          }

          .statusDescr {
            display: flex;
            justify-content: space-between;
            font-size: 12px;

            .icon {

              > path {
                fill: #707070;
              }
            }
          }

          &.activeItem {
            background: #e5e5e5;
          }

          &:last-child {
            height: 80%;
          }
        }
      }
    }

    .noJobFound {
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      padding: 20px;
      margin: 0 0 20px 0;
      color: #444444;
      text-align: center;
      border: 1px solid red;
      background-color: rgba(256, 0, 0, 0.1);
    }

    .jobSearchByCompanyWrapper {
      max-width: 1280px;
      border: solid 1px #dadce0;
      background-color: #ffffff;
      padding: 15px 0 10px;
      display: flex;
      justify-content: space-between;

      .sortedWrapper {
        margin-left: 25px;
        display: flex;

        .sortBtn {
          cursor: pointer;
          border: solid 1px #dadce0;
          background-color: #ffffff;
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          line-height: 1.83;
          letter-spacing: 0.12px;
          color: #68676b;
          padding: 7px 9px;
          outline: none;
          display: flex;
          align-items: center;

          .img {
            width: 17px;
            height: 17px;
          }

          &:hover {
            border-color: #fb6051;
            background-color: rgba(251, 96, 81, 0.1);
          }
        }

        .active {
          border-color: #fb6051;
          background-color: rgba(251, 96, 81, 0.1);
        }
      }

      .searchJobByCompanyJobCategoriesWrapper {
        margin-left: 25px;
        width: 275px;
        height: 38px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: calc(50% - 3px);
          right: 18px;
          border: 7px solid transparent;
          border-color: #000 transparent transparent transparent;
          transition: all .5s ease;
        }

        &:hover {
          &:after {
            top: 30%;
            transform: rotate(-180deg);
          }
        }

        .jobCategoriesSelect {
          width: 100%;
          height: 100%;
          padding-left: 12px;
          padding-right: 40px;
          border: solid 1px #dadce0;
          background-color: #ffffff;
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          line-height: 1.83;
          letter-spacing: 0.12px;
          color: #68676b;

          background: none;
          -moz-appearance: none;
          -ms-appearance: none;
          -o-appearance: none;
          -webkit-appearance: none;
          appearance: none;

          &:focus {
            outline: none;
          }

          &::-ms-expand {
            display: none;
          }

          &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            background: transparent url('../../media/arrowDown.svg') center right no-repeat;
          }
        }
      }

      .searchJobByCompanyJobCategoriesWrapper2 {
        display: none;
      }

      .searchJobByCompanyForm {
        display: flex;
        margin: 0 5px;
        width: 100%;
      }

      .searchJobByCompanyWrapper {
        margin-left: 40px;
        width: 450px;
        height: 36px;
        border-radius: 50px;
        border: solid 1px #dadce0;
        background-color: #ffffff;
        display: flex;
        align-items: center;

        .searchIconWrapper {
          width: 16px;
          height: 16px;
          min-width: 16px;
          min-height: 16px;
          margin: 0 0 2px 13px;

          .searchJobByCompanyIcon {
            width: 100%;
            height: 100%;
          }
        }

        .searchJobByCompanyInput {
          margin-left: 14px;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          line-height: 1.57;
          letter-spacing: 0.14px;
          color: #68676b;
          border: none;
          padding: 0;
          width: 470px;

          &:focus {
            outline: none;
          }

          &::placeholder {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 1.57;
            letter-spacing: 0.14px;
            color: #68676b;
          }
        }
      }

      .clearCompanyJobFiltersBtn {
        margin-left: 25px;
        cursor: pointer;
        border: solid 1px #dadce0;
        background-color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        line-height: 1.83;
        letter-spacing: 0.12px;
        color: #68676b;
        padding: 7px 9px;
        outline: none;

        &:hover {
          border-color: #fb6051;
          background-color: rgba(251, 96, 81, 0.1);
        }
      }
    }
  }
}

@media all and (max-width: 1460px) {
  .root {
    min-height: calc(100Vh - 125px);

    .wrapper {
      width: auto;
    }
  }
}

@media all and (max-width: 1280px) {
  .root {
    min-height: calc(100Vh - 125px);

    .wrapper {
      padding: 0 25px;
      width: auto;

      .leftColumnList {
        .itemBlock {
          font-size: 14px;
          text-align: left;

          .item {
            padding: 15px;

            .description {
              margin-left: 0;

              .titleJobItem {
                font-size: 14px;
              }

              .companyJobItemDescription {
                font-size: 13px;
              }

              .jobDescriptionWrapper {
                margin-top: 10px;

                .jobInfoItem {
                  .jobInfoIconWrapper {
                    width: 15px;
                    height: 15px;
                    min-width: 15px;
                    min-height: 15px;
                  }
                }
              }
            }

            .image {
              margin-right: 15px;
              width: 35px;
              min-width: 35px;
              height: 35px;
            }

            .image2 {
              margin-right: 15px;
              width: 35px;
              min-width: 35px;
              height: 35px;
            }

            .companyName {
              font-size: 13px;
            }

            .countryName {
              font-size: 13px;
            }

            .statusDescr {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .root {
    min-height: calc(100Vh - 85px);
    padding-bottom: 24px;

    .wrapper {
      padding: 0 25px;
      width: auto;

      .flex {
        display: flex;
      }

      .headerSearch {
        margin: 5px auto 13px;
        max-width: 1280px;

        .distanceBtnWrapper {
          margin-right: 35px;

          .btnSquare {
            font-size: 12px;
            padding: 2px 12px;
          }
        }

        .btnRounded {
          font-size: 12px;
          padding: 2px 12px;
          margin: 0 5px 5px 0;
        }

        .sortedWrapper {
          margin-bottom: 5px;

          .sortButton {
            padding: 5px 10px;
            margin: 1px 1px;
            font-size: 12px;
          }
        }
      }

      .companyInfoWrapper {
        padding: 25px;

        .companyLogoWrapper {
          width: 120px;
          height: 120px;
          min-width: 120px;
          min-height: 120px;
        }

        .companyMainInfoWrapper {
          margin-left: 20px;
          width: 260px;
          min-width: 260px;
          max-width: 260px;

          .companyName {
            font-size: 20px;
            margin-bottom: 10px;
          }

          .companyDescription {
            margin-bottom: 10px;

            .descriptionIconWrapper {
              width: 15px;
              height: 15px;
              min-width: 15px;
              min-height: 15px;
            }

            .descriptionText {
              font-size: 13px;

              .link {
                font-size: 13px;
              }
            }
          }
        }

        .companyDescription {
          margin-left: 10px;

          .companyDescriptionTitle {
            font-size: 13px;
            margin-bottom: 0;
          }

          .companyDescriptionText {
            font-size: 13px;
            margin: 10px 0;
          }
        }

        .companyDescription2 {
          display: none;
        }

        .closeCompanyImgWrapper {
          width: 20px;
          height: 20px;
          min-width: 20px;
          min-height: 20px;
        }
      }

      .leftColumnList {
        width: 100%;
        max-width: 200px;

        .itemBlock {
          width: 100%;
          max-width: 200px;

          .item {
            padding: 5px;
            max-width: 200px;
            min-width: 185px;

            .description {
              margin-left: 0;

              .titleJobItem {
                font-size: 13px;
              }

              .companyJobItemDescription {
                font-size: 12px;
              }

              .jobDescriptionWrapper {
                display: block;
                margin-top: 5px;

                .jobInfoItem {
                  min-width: 100%;
                  display: flex;

                  .jobInfoIconWrapper {
                    width: 12px;
                    height: 12px;
                    min-width: 12px;
                    min-height: 12px;
                  }

                  .jobInfoDescription {
                    font-size: 12px;
                  }
                }
              }
            }

            .image {
              margin-right: 8px;
              width: 25px;
              min-width: 25px;
              height: 25px;
              padding: 5px;
            }

            .image2 {
              margin-right: 8px;
              width: 25px;
              min-width: 25px;
              height: 25px;
              padding: 5px;
            }

            .companyName {
              font-size: 12px;
            }

            .countryName {
              display: block;
              font-size: 13px;
              font-weight: 400;
              color: #444444;
            }

            .statusDescr {
              display: flex;
              justify-content: space-between;
              font-size: 12px;

              .icon {

                > path {
                  fill: #707070;
                }
              }
            }

            &.activeItem {
              background: #e5e5e5;
            }

            &:last-child {
              height: 80%;
            }
          }
        }
      }

      .noJobFound {
        font-weight: 500;
        padding: 5px;
        margin: 0 0 10px 0;
        font-size: 14px;
      }

      .jobSearchByCompanyWrapper {
        padding: 10px;

        .sortedWrapper {
          margin-left: 0;
        }

        .searchJobByCompanyJobCategoriesWrapper {
          margin-left: 10px;
          width: 240px;
        }

        .searchJobByCompanyJobCategoriesWrapper2 {
          display: none;
        }

        .searchJobByCompanyWrapper {
          margin-left: 10px;
          width: 250px;

          .searchJobByCompanyInput {
            font-size: 12px;
            width: 100%;

            &::placeholder {
              font-size: 12px;
            }
          }
        }

        .clearCompanyJobFiltersBtn {
          margin-left: 10px;
          font-size: 11px;
          padding: 7px 5px;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .root {
    min-height: calc(100Vh - 84px);
    padding-bottom: 1px;

    .wrapper {
      margin: 0 auto;
      max-width: 758px;
      padding: 0 5px;
      width: auto;

      .headerSearch {
        margin: 0 auto 10px;
        max-width: 758px;

        .distanceBtnWrapper {
          margin-right: 0;
          margin-bottom: 5px;

          .btnSquare {
            font-size: 11px;
            padding: 2px 6px;
          }
        }

        .btnRounded {
          font-size: 11px;
          padding: 2px 6px;
          margin: 0 2px 2px 0;
        }

        .sortedWrapper {
          margin-bottom: 5px;

          .sortButton {
            padding: 5px 10px;
            margin: 1px 1px;
            border-bottom: 1px solid transparent;
            font-size: 12px;
          }
        }

        .filtersWrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      .companyInfoWrapper {
        padding: 15px;
        flex-direction: column;

        .companyLogoWrapper {
          width: 60px;
          height: 60px;
          min-width: 60px;
          min-height: 60px;
          border: none;

          .companyLogoInnerWrapper {
            width: 60px;
            height: 60px;
          }

          .companyLogoInnerWrapper2 {
            width: 60px;
            height: 60px;
          }
        }

        .companyMainInfoWrapper {
          margin-left: 10px;
          width: 100%;
          min-width: auto;
          max-width: 100%;

          .companyName {
            font-size: 16px;
            margin-bottom: 5px;
            margin-right: 15px;
          }

          .companyDescription {
            max-width: none;
            width: auto;
            display: flex;
            align-items: center;
            margin: 0 0 5px 0;

            .descriptionIconWrapper {
              width: 15px;
              height: 15px;
              min-width: 15px;
              min-height: 15px;
            }

            .descriptionText {
              font-size: 11px;

              .link {
                font-size: 11px;
              }
            }
          }
        }

        .companyDescription {
          display: none;
        }

        .companyDescription2 {
          display: block;
          margin-top: 10px;
          margin-left: 70px;

          .companyDescriptionTitle {
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            font-weight: bold;
            line-height: 1.36;
            letter-spacing: 0.35px;
            color: #444444;
            margin-bottom: 5px;
          }

          .companyDescriptionText {
            margin: 5px 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            line-height: 1.79;
            letter-spacing: 0.14px;
            text-align: left;
            color: #000000;
          }
        }

        .closeCompanyImgWrapper {
          width: 15px;
          height: 15px;
          padding: 5px;
        }
      }

      .leftColumnList {
        width: 100%;
        max-width: 200px;

        .itemBlock {
          width: 100%;
          max-width: 200px;

          .item {
            padding: 5px;
            max-width: 200px;
            min-width: 185px;

            .description {
              margin-left: 0;

              .titleJobItem {
                font-size: 13px;
              }

              .companyJobItemDescription {
                font-size: 12px;
              }

              .jobDescriptionWrapper {
                display: block;
                margin-top: 5px;

                .jobInfoItem {
                  min-width: 100%;
                  display: flex;

                  .jobInfoIconWrapper {
                    width: 12px;
                    height: 12px;
                    min-width: 12px;
                    min-height: 12px;
                  }

                  .jobInfoDescription {
                    font-size: 12px;
                  }
                }
              }
            }

            .image {
              margin-right: 8px;
              width: 25px;
              min-width: 25px;
              height: 25px;
              padding: 5px;
            }

            .image2 {
              margin-right: 8px;
              width: 25px;
              min-width: 25px;
              height: 25px;
              padding: 5px;
            }

            .companyName {
              font-size: 12px;
            }

            .countryName {
              display: block;
              font-size: 13px;
              font-weight: 400;
              color: #444444;
            }

            .statusDescr {
              display: flex;
              justify-content: space-between;
              font-size: 12px;

              .icon {

                > path {
                  fill: #707070;
                }
              }
            }

            &.activeItem {
              background: #e5e5e5;
            }

            &:last-child {
              height: 80%;
            }
          }
        }
      }

      .noJobFound {
        padding: 10px;
        margin: 0 0 10px 0;
      }

      .jobSearchByCompanyWrapper {
        max-width: 768px;
        padding: 5px 0;
        flex-direction: column;

        .sortedWrapper {
          margin: 0 5px 5px;

          .sortBtn {
            cursor: pointer;
            border: solid 1px #dadce0;
            background-color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            line-height: 1.83;
            letter-spacing: 0.12px;
            color: #68676b;
            padding: 7px 9px;
            outline: none;
            display: flex;
            align-items: center;

            .img {
              width: 17px;
              height: 17px;
            }

            &:hover {
              border-color: #fb6051;
              background-color: rgba(251, 96, 81, 0.1);
            }
          }

          .active {
            border-color: #fb6051;
            background-color: rgba(251, 96, 81, 0.1);
          }
        }

        .searchJobByCompanyJobCategoriesWrapper {
          display: none;
        }

        .searchJobByCompanyJobCategoriesWrapper2 {
          position: relative;
          display: inline-block;
          margin-left: 5px;
          width: 100%;

          &:after {
            content: '';
            position: absolute;
            top: calc(50% - 3px);
            right: 18px;
            border: 7px solid transparent;
            border-color: #000 transparent transparent transparent;
            transition: all .5s ease;
          }

          &:hover {
            &:after {
              top: 30%;
              transform: rotate(-180deg);
            }
          }

          .jobCategoriesSelect {
            width: 100%;
            height: 100%;
            padding-left: 12px;
            padding-right: 40px;
            border: solid 1px #dadce0;
            background-color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            line-height: 1.83;
            letter-spacing: 0.12px;
            color: #68676b;

            background: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            -webkit-appearance: none;
            appearance: none;

            &:focus {
              outline: none;
            }

            &::-ms-expand {
              display: none;
            }

            &:after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              background: transparent url('../../media/arrowDown.svg') center right no-repeat;
            }
          }
        }

        .searchJobByCompanyForm {
          width: auto;
        }

        .searchJobByCompanyWrapper {
          margin-left: 0;
          width: 100%;

          .searchJobByCompanyInput {
            font-size: 12px;
            width: 100%;

            &::placeholder {
              font-size: 12px;
            }
          }
        }

        .clearCompanyJobFiltersBtn {
          margin: 0 0 0 5px;
          font-size: 11px;
          padding: 7px 5px;
          min-width: 100px;
        }
      }
    }
  }
}

@media all and (max-width: 595px) {
  .root {
    .wrapper {
      margin: 0 auto;
      max-width: 758px;
      padding: 0 5px;
      width: auto;

      .headerSearch {
        margin: 0 auto 10px;
        max-width: 758px;

        .distanceBtnWrapper {
          margin-right: 0;
          margin-bottom: 5px;

          .btnSquare {
            font-size: 11px;
            padding: 2px 6px;
          }
        }

        .btnRounded {
          font-size: 11px;
          padding: 2px 6px;
          margin: 0 2px 2px 0;
        }

        .sortedWrapper {
          margin-bottom: 5px;

          .sortButton {
            padding: 5px 8px;
            margin: 1px 1px;
            border-bottom: 1px solid transparent;
            font-size: 11px;
          }
        }

        .filtersWrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      .companyInfoWrapper {
        padding: 15px;
        flex-direction: column;

        .companyLogoWrapper {
          width: 60px;
          height: 60px;
          min-width: 60px;
          min-height: 60px;
          border: none;

          .companyLogoInnerWrapper {
            width: 60px;
            height: 60px;
          }

          .companyLogoInnerWrapper2 {
            width: 60px;
            height: 60px;
          }
        }

        .companyMainInfoWrapper {
          margin-left: 10px;
          width: 100%;
          min-width: auto;
          max-width: 100%;

          .companyName {
            font-size: 16px;
            margin-bottom: 5px;
            margin-right: 15px;
          }

          .companyDescription {
            max-width: none;
            width: auto;
            display: flex;
            align-items: center;
            margin: 0 0 5px 0;

            .descriptionIconWrapper {
              width: 15px;
              height: 15px;
              min-width: 15px;
              min-height: 15px;
            }

            .descriptionText {
              font-size: 11px;

              .link {
                font-size: 11px;
              }
            }
          }
        }

        .companyDescription {
          display: none;
        }

        .companyDescription2 {
          display: block;
          margin-top: 10px;
          margin-left: 70px;

          .companyDescriptionTitle {
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            font-weight: bold;
            line-height: 1.36;
            letter-spacing: 0.35px;
            color: #444444;
            margin-bottom: 5px;
          }

          .companyDescriptionText {
            margin: 5px 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            line-height: 1.79;
            letter-spacing: 0.14px;
            text-align: left;
            color: #000000;
          }
        }

        .closeCompanyImgWrapper {
          width: 15px;
          height: 15px;
          padding: 5px;
        }
      }

      .leftColumnList {
        display: inline-block;
        background: #f7f7f7;
        width: 100%;
        height: 100%;
        min-height: 100px;
        vertical-align: top;

        max-width: none;

        .itemBlock {
          width: 100%;
          margin-top: 0;
          padding-left: 0;
          font-size: 16px;
          color: #444444;
          height: calc(100% - 270px);
          overflow: hidden;

          max-width: none;

          .item {
            display: flex;
            cursor: pointer;
            padding: 25px 25px 17px 25px;
            justify-content: flex-start;
            align-items: flex-start;
            background: #f7f7f7;
            transition: background .5s;

            max-width: none;

            &:hover {
              cursor: pointer;
              background: #e5e5e5;
            }

            .description {
              margin-left: 17px;
              width: 100%;

              .titleJobItem {
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.38;
                letter-spacing: 0.4px;
                color: #444444;
              }

              .companyJobItemDescription {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                line-height: 1.36;
                letter-spacing: 0.35px;
                color: #444444;
                margin-top: 5px;
              }

              .jobDescriptionWrapper {
                display: flex;
                align-items: center;
                margin-top: 15px;

                @media all and (max-width: 425px) {
                  flex-direction: column;
                  display: flex;
                  margin-top: 5px;
                  align-items: normal;
                }

                .jobInfoItem {
                  min-width: 50%;
                  display: flex;

                  .jobInfoIconWrapper {
                    width: 18px;
                    height: 18px;
                    min-width: 18px;
                    min-height: 18px;

                    .jobInfoIcon {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  .jobInfoDescription {
                    margin-left: 4px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 12px;
                    line-height: 1.42;
                    letter-spacing: 0.3px;
                    color: #444444;
                  }
                }
              }
            }

            .image {
              margin-right: 17px;
              min-width: 42px;
              width: 42px;
              height: 42px;
              padding: 8px;
              background-color: #fff;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;

              .img {
                cursor: pointer;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
              }
            }

            .image2 {
              margin-right: 17px;
              width: 42px;
              min-width: 42px;
              height: 42px;
              padding: 8px;
              background-color: #cccccc;
              cursor: pointer;
            }

            .companyName {
              font-family: 'Open Sans', sans-serif;
              font-size: 14px;
              font-weight: 400;
              color: #444444;
            }

            .countryName {
              display: block;
              font-size: 14px;
              font-weight: 400;
              color: #444444;
            }

            .statusDescr {
              display: flex;
              justify-content: space-between;
              font-size: 12px;

              .icon {

                > path {
                  fill: #707070;
                }
              }
            }

            &.activeItem {
              background: #e5e5e5;
            }

            &:last-child {
              height: 80%;
            }
          }
        }
      }

      .noJobFound {
        padding: 10px;
        margin: 0 0 10px 0;
      }

      .jobSearchByCompanyWrapper {
        max-width: 768px;
        padding: 5px 0;
        flex-direction: column;

        .sortedWrapper {
          margin: 0 5px 5px;

          .sortBtn {
            cursor: pointer;
            border: solid 1px #dadce0;
            background-color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            line-height: 1.83;
            letter-spacing: 0.12px;
            color: #68676b;
            padding: 7px 9px;
            outline: none;
            display: flex;
            align-items: center;

            .img {
              width: 17px;
              height: 17px;
            }

            &:hover {
              border-color: #fb6051;
              background-color: rgba(251, 96, 81, 0.1);
            }
          }

          .active {
            border-color: #fb6051;
            background-color: rgba(251, 96, 81, 0.1);
          }
        }

        .searchJobByCompanyJobCategoriesWrapper {
          display: none;
        }

        .searchJobByCompanyJobCategoriesWrapper2 {
          position: relative;
          display: inline-block;
          margin-left: 5px;
          width: 100%;

          &:after {
            content: '';
            position: absolute;
            top: calc(50% - 3px);
            right: 18px;
            border: 7px solid transparent;
            border-color: #000 transparent transparent transparent;
            transition: all .5s ease;
          }

          &:hover {
            &:after {
              top: 30%;
              transform: rotate(-180deg);
            }
          }

          .jobCategoriesSelect {
            width: 100%;
            height: 100%;
            padding-left: 12px;
            padding-right: 40px;
            border: solid 1px #dadce0;
            background-color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            line-height: 1.83;
            letter-spacing: 0.12px;
            color: #68676b;

            background: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            -webkit-appearance: none;
            appearance: none;

            &:focus {
              outline: none;
            }

            &::-ms-expand {
              display: none;
            }

            &:after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              background: transparent url('../../media/arrowDown.svg') center right no-repeat;
            }
          }
        }

        .searchJobByCompanyForm {
          width: auto;
        }

        .searchJobByCompanyWrapper {
          margin-left: 0;
          width: 100%;

          .searchJobByCompanyInput {
            font-size: 12px;
            width: 100%;

            &::placeholder {
              font-size: 12px;
            }
          }
        }

        .clearCompanyJobFiltersBtn {
          margin: 0 0 0 5px;
          font-size: 11px;
          padding: 7px 5px;
          min-width: 100px;
        }
      }
    }
  }
}

@media all and (max-width: 425px) {
  .root {
    position: relative;

    .wrapper {
      height: 100%;

      margin: 0 auto;
      max-width: 758px;
      padding: 0 5px;
      width: auto;

      .flex {
        display: flex;
      }

      .headerSearch {

        margin: 0 auto 10px;
        max-width: 758px;

        .distanceBtnWrapper {

          margin-right: 0;
          margin-bottom: 5px;

          .btnSquare {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.83;
            letter-spacing: 0.12px;
            color: #68676b;
            border: solid 1px #dadce0;
            min-width: 50px;

            font-size: 11px;
            padding: 2px 6px;

            &:hover {
              cursor: pointer;
              color: #fb6051;
              border-color: #fb6051;
            }

            &:focus {
              border-color: #fb6051;
            }
          }

          .active {
            border: solid 1px #fb6051;
            background-color: rgba(251, 96, 81, 0.1);
            color: #a10000;
          }
        }

        .btnRounded {
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          background-color: #ffffff;
          font-family: 'Open Sans', sans-serif;
          line-height: 1.83;
          letter-spacing: 0.12px;
          color: #68676b;
          border: solid 1px #dadce0;
          border-radius: 15px;
          min-width: 50px;

          font-size: 11px;
          padding: 2px 6px;
          margin: 0 2px 2px 0;

          &:hover {
            cursor: pointer;
            color: #fb6051;
            border-color: #fb6051;
          }

          &:focus {
            border-color: #fb6051;
          }
        }

        .sortedWrapper {
          display: flex;

          margin-bottom: 5px;

          .sortButton {
            border: none;
            border-bottom: 2px solid transparent;
            background-color: transparent;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            line-height: 1.57;
            letter-spacing: 0.14px;
            color: #68676b;

            padding: 5px 8px;
            margin: 1px 1px;
            border-bottom: 1px solid transparent;
            font-size: 11px;

            &:hover {
              cursor: pointer;
              color: #fb6051;
              border-color: #fb6051;
            }

            &:focus {
              outline: none;
            }
          }

          .active {
            border-bottom-color: #fb6051;
          }
        }

        .filtersWrapper {

          flex-direction: column;

          .active {
            border: solid 1px #fb6051;
            background-color: rgba(251, 96, 81, 0.1);
            color: #a10000;
          }
        }

        .w450 {
          min-width: 450px;
        }
      }

      .companyInfoWrapper {
        position: relative;
        border: solid 1px #dadce0;
        display: flex;

        padding: 15px;
        flex-direction: column;

        .companyInfoInnerWrapper {
          display: flex;
        }

        .companyLogoWrapper {
          background-color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;

          width: 60px;
          height: 60px;
          min-width: 60px;
          min-height: 60px;
          border: none;

          .companyLogoInnerWrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 60px;
            height: 60px;

            .logo {
              max-width: 100%;
              max-height: 100%;
              width: auto;
              height: auto;
            }
          }

          .companyLogoInnerWrapper2 {
            background-color: #cccccc;

            width: 60px;
            height: 60px;
          }
        }

        .companyMainInfoWrapper {

          margin-left: 10px;
          width: 100%;
          min-width: auto;
          max-width: 100%;

          .companyName {
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            line-height: 1.35;
            text-align: left;
            color: #000000;

            font-size: 16px;
            margin-bottom: 5px;
            margin-right: 15px;
          }

          .companyDescription {

            max-width: none;
            width: auto;
            margin: 0 0 5px 0;

            .descriptionIconWrapper {
              display: flex;
              justify-content: center;
              align-items: center;

              width: 15px;
              height: 15px;
              min-width: 15px;
              min-height: 15px;

              .descriptionIcon {
                object-fit: contain;
                width: 100%;
                height: 100%;
              }
            }

            .descriptionText {
              font-family: 'Open Sans', sans-serif;
              line-height: 1.36;
              letter-spacing: 0.35px;
              color: #444444;
              margin-left: 10px;
              display: flex;
              align-items: center;

              font-size: 11px;

              .link {
                color: #444444;
                font-family: 'Open Sans', sans-serif;
                letter-spacing: 0.35px;
                text-decoration: none;

                font-size: 11px;
              }
            }
          }
        }

        .companyDescription {
          display: none;
        }

        .companyDescription2 {
          display: block;
          margin-top: 10px;
          margin-left: 70px;

          .companyDescriptionTitle {
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            font-weight: bold;
            line-height: 1.36;
            letter-spacing: 0.35px;
            color: #444444;
            margin-bottom: 5px;
          }

          .companyDescriptionText {
            margin: 5px 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            line-height: 1.79;
            letter-spacing: 0.14px;
            text-align: left;
            color: #000000;
          }
        }

        .closeCompanyImgWrapper {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;

          width: 15px;
          height: 15px;
          padding: 5px;

          .img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .leftColumnList {
        display: inline-block;
        background: #f7f7f7;
        width: 100%;
        height: 100%;
        min-height: 100px;
        vertical-align: top;

        max-width: none;

        .itemBlock {
          width: 100%;
          margin-top: 0;
          padding-left: 0;
          font-size: 16px;
          color: #444444;
          height: calc(100% - 270px);
          overflow: hidden;

          max-width: none;

          .item {
            cursor: pointer;
            padding: 25px 25px 17px 25px;
            justify-content: flex-start;
            align-items: flex-start;
            background: #f7f7f7;
            transition: background .5s;

            max-width: none;

            &:hover {
              cursor: pointer;
              background: #e5e5e5;
            }

            .description {
              margin-left: 17px;
              width: 100%;

              .titleJobItem {
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.38;
                letter-spacing: 0.4px;
                color: #444444;
              }

              .companyJobItemDescription {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                line-height: 1.36;
                letter-spacing: 0.35px;
                color: #444444;
                margin-top: 5px;
              }

              .jobDescriptionWrapper {
                display: flex;
                margin-top: 15px;

                align-items: normal;

                .jobInfoItem {
                  min-width: 50%;
                  display: flex;

                  .jobInfoIconWrapper {
                    width: 18px;
                    height: 18px;
                    min-width: 18px;
                    min-height: 18px;

                    .jobInfoIcon {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  .jobInfoDescription {
                    margin-left: 4px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 12px;
                    line-height: 1.42;
                    letter-spacing: 0.3px;
                    color: #444444;
                  }
                }
              }
            }

            .image {
              margin-right: 17px;
              min-width: 42px;
              width: 42px;
              height: 42px;
              padding: 8px;
              background-color: #fff;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;

              .img {
                cursor: pointer;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
              }
            }

            .image2 {
              margin-right: 17px;
              width: 42px;
              min-width: 42px;
              height: 42px;
              padding: 8px;
              background-color: #cccccc;
              cursor: pointer;
            }

            .companyName {
              font-family: 'Open Sans', sans-serif;
              font-size: 14px;
              font-weight: 400;
              color: #444444;
            }

            .countryName {
              display: block;
              font-size: 14px;
              font-weight: 400;
              color: #444444;
            }

            .statusDescr {
              display: flex;
              justify-content: space-between;
              font-size: 12px;

              .icon {

                > path {
                  fill: #707070;
                }
              }
            }

            &.activeItem {
              background: #e5e5e5;
            }

            &:last-child {
              height: 80%;
            }
          }
        }
      }

      .noJobFound {
        font-family: 'Open Sans', sans-serif;
        color: #444444;
        text-align: center;
        border: 1px solid red;
        background-color: rgba(256, 0, 0, 0.1);

        padding: 10px;
        margin: 0 0 10px 0;
        font-weight: normal;
      }

      .jobSearchByCompanyWrapper {
        border: solid 1px #dadce0;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;

        max-width: 768px;
        padding: 5px 0;
        flex-direction: column;

        .sortedWrapper {
          display: flex;

          margin: 0 5px 5px;

          .sortBtn {
            cursor: pointer;
            border: solid 1px #dadce0;
            background-color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            line-height: 1.83;
            letter-spacing: 0.12px;
            color: #68676b;
            padding: 7px 9px;
            outline: none;
            display: flex;
            align-items: center;

            .img {
              width: 17px;
              height: 17px;
            }

            &:hover {
              border-color: #fb6051;
              background-color: rgba(251, 96, 81, 0.1);
            }
          }

          .active {
            border-color: #fb6051;
            background-color: rgba(251, 96, 81, 0.1);
          }
        }

        .searchJobByCompanyJobCategoriesWrapper {
          display: none;
        }

        .searchJobByCompanyJobCategoriesWrapper2 {
          position: relative;
          display: inline-block;
          margin-left: 5px;
          width: 100%;

          &:after {
            content: '';
            position: absolute;
            top: calc(50% - 3px);
            right: 18px;
            border: 7px solid transparent;
            border-color: #000 transparent transparent transparent;
            transition: all .5s ease;
          }

          &:hover {
            &:after {
              top: 30%;
              transform: rotate(-180deg);
            }
          }

          .jobCategoriesSelect {
            width: 100%;
            height: 100%;
            padding-left: 12px;
            padding-right: 40px;
            border: solid 1px #dadce0;
            background-color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            line-height: 1.83;
            letter-spacing: 0.12px;
            color: #68676b;

            background: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            -webkit-appearance: none;
            appearance: none;
          }
        }

        .searchJobByCompanyForm {
          width: auto;
        }

        .searchJobByCompanyWrapper {
          margin-left: 0;
          width: 100%;

          .searchJobByCompanyInput {
            font-size: 12px;
            width: 100%;

            &::placeholder {
              font-size: 12px;
            }
          }
        }

        .clearCompanyJobFiltersBtn {
          margin: 0 0 0 5px;
          font-size: 11px;
          padding: 7px 5px;
          min-width: 100px;
        }
      }
    }
  }
}

.separator {
  background: #f7f7f7;
  position: absolute;
  width: 100%;
  bottom: 0;

  .separatorImg {
    display: block;
    width: 100%;

    @media all and (max-width: 992px) {
      display: none;
    }
  }
}

.footerPosition {
  position: absolute;
  top: calc(100% + 50px);

  @media all and (max-width: 1024px) {
    top: calc(100%);
  }
}
