@import '../globalStyles/reset';

.cartWrapper {
  display: flex;
  align-items: center;
  padding: 10px;

  .couponWrapper {
    width: 70%;
  }

  .planOverview {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pt50 {
  padding-top: 50px;
}

.mb30 {
  margin-bottom: 30px;
}

.tooltip {
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  .tooltipText {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    visibility: hidden;
    width: 180px;
    background-color: #fff;
    border: 1px solid #555;
    color: #555;
    text-align: center;
    padding: 6px;
    border-radius: 6px;
    position: absolute;
    right: -200px;
    z-index: 1;

    &:after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%; /* To the left of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #555 transparent transparent;
    }
  }

  &:hover {
    cursor: pointer;

    .tooltipText {
      visibility: visible;
    }
  }
}

.formDetails {
  background-color: #fff;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;


  .inputLabel {
    position: relative;
    margin-bottom: 10px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.inputLabelText {
  width: 100%;
  font-size: 15px;
  font-weight: 700;

  @media all and (min-width: 456px) {
    width: 16%;
  }
}

.input {
  padding: 10px;
  width: 100%;
  border: solid 1px #d3d4db;
  font-weight: 400;
  border-radius: 5px;

  @media all and (min-width: 456px) {
    width: 80%;
  }
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

strong {
  font-weight: 600;
}

.bgHeaderLogo {
  background-color: transparent;
}

.mr50 {
  margin-right: 50px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  z-index: 1;
}

.headerMobile {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5;
  position: absolute;
  left: 0;
  right: 0;
  top: 136px;
  width: 100%;
  background: #fff;
  height: 100vh;
}

.burgerMenu {
  font-size: 30px;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.justifyRight {
  position: absolute;
  top: 47px;
  right: 30px;
}

.content {
  position: relative;
  padding: 0 140px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media all and (max-width: 992px) {
    padding: 0 50px;
  }
}

.itemLink {
  cursor: pointer;
  padding: 0 0 5px 0;
  font-size: 15px;
  font-weight: 600;
  color: #3e3d40;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom .5s;

  &:hover {
    border-bottom: 1px solid #c22a28;
  }
}

.listItem {
  display: inline-block;
  list-style: none;
}

.item {
  display: inline-block;
  list-style: none;
  margin-right: 20px;

  @media all and (max-width: 1279px) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.logoImg {
  @media all and (max-width: 562px) {
    img {
      width: 70%;
    }
  }
}

.registerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: 0;
  border-radius: 100px;
  background: #00c590;
  text-decoration: none;
  height: 39px;
  transition: background .5s;

  &:hover {
    cursor: pointer;
    background: #00A991;
  }
}

.itemText {
  font-weight: 400;
}

.mainSection {
  margin-top: 155px;

  .listOfItems {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  .item {
    margin-bottom: 10px;

    &:last-child {
      margin-top: 42px;
      margin-bottom: 0;
    }
  }

  .registerBtn {
    max-width: 354px;
    width: 100%;
    height: 51px;

    &:hover {
      cursor: pointer;
      background: #00A991;
    }
  }

  .mainImg {
    width: 100%;
  }

  @media all and (max-width: 992px) {

    .content {
      padding: 0 50px;
    }

    .rightColumn {
      display: none;
    }

    .leftColumn {
      width: 100%;
    }

    .description,
    .title {
      max-width: 100%;
    }

    .registerBtn {
      max-width: 100%;
    }
  }

  @media all and (max-width: 662px) {
    .title {
      font-size: 30px;
    }
  }
}

.secondLineText {
  font-size: 31px;
  display: block;
  font-weight: inherit;
}

.description {
  margin: 13px 0 20px;
  font-weight: 400;
  max-width: 433px;
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.07px;
}

.checkIcon {
  margin-right: 10px;

  > path {
    fill: #00c590;
  }
}

.leftColumn {
  position: relative;
}

.rightColumn {
  position: relative;
}

.columnWithImg {
  width: 45%;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: -30px;
  max-width: 109px;
  max-height: 109px;
  width: 100%;
  height: 100%;
  background: #ff524f;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  font-size: 18px;
  font-weight: 400;
  color: #fff;

  .textWrapper {
    margin-top: -10px;
  }

  .pricingNumber {
    font-weight: 600;
    font-size: 28px;
  }

  .pricingSeperater {
    font-weight: 400;
  }

  .pricingPeriod {
    font-size: 10px;
    font-weight: 400;
  }

  .pricingPrefix {
    font-weight: 400;
  }

  .pricingWrapper,
  .pricingPrefix {
    display: block;
    text-align: center;
  }
}

.features {
  margin-top: 50px;
  width: 100%;
  background: #edeef6;

  .content {
    padding-bottom: 0;
  }

  .listOfItems {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 16px;

    @media all and (max-width: 992px) {
      flex-direction: column;
      line-height: 2;
      text-align: left;

      .itemText {
        font-size: 12px;
      }
    }
  }

  .checkIcon {
    > path {
      fill: #35c500;
    }
  }
}

.paddingLeftZero {
  padding-left: 0;
}

.howItWorks {
  margin-top: 50px;

  .content {
    flex-direction: column;
  }

  .listOfItems {
    padding: 0 95px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;

    @media all and (max-width: 992px) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0;

      .item {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .item {
    &:last-child {
      margin-right: 0;
    }
  }

  .registerBtn {
    max-width: 413px;
    height: 51px;
    font-size: 16px;
    width: 100%;

    &:hover {
      cursor: pointer;
      background: #00A991;
    }

    @media all and (max-width: 992px) {
      font-size: 12px;
    }
  }
}

.sectionTitle {
  font-size: 30px;
  font-weight: 600;
}

.itemNumber,
.itemTitle {
  display: block;
  font-size: 16px;
  font-weight: 600;
}

.itemTitle {
  margin-top: 0;
}

.itemImg {
  margin-bottom: 10px;
  max-width: 112px;
  max-height: 103px;
}

.itemDescription {
  display: inline-block;
  max-width: 220px;
  font-weight: 400;
}

.secondSectionTitle {
  margin: 0;
  font-size: 24px;
}

.lookingFor {
  padding: 70px 0;
  background: #edeef6;

  @media all and (max-width: 992px) {
    .description {
      max-width: 100%;
    }
  }

  .sectionTitle {
    margin-bottom: 10px;
  }

  .listOfItems {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.81;

    .item {
      &:last-child {
        margin-top: 40px;
      }
    }
  }

  .checkIcon {
    > path {
      fill: #35c500;
    }
  }

  .registerBtn {
    max-width: 182px;
    width: 100%;

    &:hover {
      cursor: pointer;
      background: #00A991;
    }

    @media all and (max-width: 992px) {
      max-width: 100%;
    }
  }

  .leftColumn {
    position: relative;
    margin-right: 110px;

    @media all and (max-width: 992px) {
      display: none;
    }
  }

  .secondImg {
    width: 100%;
  }
}

.listTitle {
  display: block;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
}

.seperator {
  margin-top: 30px;
}

.seperatorImg {
  display: block;
  width: 100%;
}

.googleSearchSection {
  padding: 40px 0;
  background: #4285f4;
  color: #fff;

  @media all and (max-width: 992px) {
    .leftColumn {
      display: none;
    }
  }

  .secondImg {
    width: 100%;
  }

  .description {
    font-size: 21px;
    font-weight: 300;
    max-width: 488px;

    @media all and (max-width: 992px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .rightColumn {
    margin-top: -30px;
    margin-left: 74px;

    @media all and (max-width: 992px) {
      width: 100%;
      margin-left: 0;
      text-align: center;
    }
  }

  .registerBtn {
    margin-top: 50px;
    max-width: 354px;
    width: 100%;
    height: 51px;
    border: 1px solid #fff;
    background: transparent;
    transition: all .5s;

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

.preFooter {

  .preFooterFirstSection {
    background: #c22a28;
  }

  .preFooterSecondSection {
    padding-top: 50px;
    background: #a10000;
  }

  .description {
    margin-top: 30px;
    max-width: 1012px;
    width: 100%;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }

  .listOfItems {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    @media all and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .mainItem {
    display: inline-block;
    list-style: none;

    @media all and (max-width: 992px) {
      text-align: center;
    }

    &:last-child {
      .childList {
        padding-left: 0;
      }
    }
  }

  .childList {
    padding-left: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    line-height: 1.93;
    width: 100%;

    @media all and (max-width: 992px) {
      align-items: center;
    }
  }

  .childTitle {
    display: inline-block;
    list-style: none;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
  }

  .childBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #c22a28;
    height: 40px;
    border-radius: 100px;
    border: 0;
    transition: all .5s;
    background: #fff;

    &:hover {
      cursor: pointer;
    }
  }
}

.title {
  margin: 0;
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.bgTransparent {
  background-color: transparent;
}

.hidden {
  visibility: hidden;
}

.footer {
  padding: 15px 0;
  color: #fff;
  text-align: center;
  background: #3e3d40;

  .content {
    justify-content: center;
    align-items: self-end;

    @media all and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.copyright {
  cursor: context-menu;
  display: block;
  margin-top: 20px;
}

.footerLinks {
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.footerImg {
  margin-right: 10px;

  @media all and (max-width: 600px) {
    margin-right: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.displayFlex {
  align-items: center;
  display: flex;
}

.plan {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #fff url('../../media/3-stufen-planBG.svg') bottom no-repeat;
  background-size: contain;

  @media all and (max-width: 992px) {
    padding-bottom: 200px;
  }

  @media all and (max-width: 562px) {
    padding-bottom: 100px;
  }

  .content {
    padding: 0 80px;
    display: block;
    text-align: center;
  }
}

.planPeriod {
  font-size: 19px;
  font-weight: 400;
  transition: font-weight .5s;

  &:hover,
  &.bold {
    font-weight: 900;
  }
}

.toggleBtn {
  margin-right: 20px;
}

.monthPlan {
  margin-right: 20px;
  font-weight: 600;
}

.choosePlanSection {
  margin-top: 40px;

  @media all and (max-width: 992px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.planItem {
  display: inline-block;
  list-style: none;
  position: relative;
  padding: 20px 20px 10px;
  max-width: 224px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #cbcbcb;
  border-radius: 5px;

  @media all and (max-width: 992px) {
    margin-bottom: 50px;
    max-width: 270px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.starterPlan {
  max-width: 195px;

  @media all and (max-width: 992px) {
    max-width: 270px;
  }
}

.planName {
  text-align: center;
  margin-bottom: 20px;
  display: block;
  font-size: 20px;
  font-weight: 600;

}

.planCurrency {
  font-size: 19px;
  font-weight: 400;
  vertical-align: top;
}

.planValue {
  font-size: 47px;
  font-weight: 600;
}

.planPeriod {
  position: relative;
  padding-left: 10px;
  font-size: 23px;
  font-weight: 400;

  @media all and (max-width: 992px) {
    font-size: 14px;
  }
}

.bold {
  font-weight: 600;
}

.delimiter {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.mb50 {
  margin-bottom: 50px;
}

.planPriceDetail {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #a2a2a2;
}

.planFeature {
  display: inline-block;
  list-style: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 2;

  & * {
    font-weight: 600;
  }
}

.getPlanBtn {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  max-width: 175px;
  width: 100%;
  height: 40px;
  color: #00c590;
  border: 1px solid #00c590;
  background: #fff;
  border-radius: 100px;
  transition: all .5s;
  outline: none;

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover {
    cursor: pointer;
    background: #00c590;
    color: #fff;
  }
}

.planPricing {
  text-align: center;
  margin-bottom: 30px;
}

.listOfPlans {
  padding-left: 0;
  display: flex;
  width: 310px;
  justify-content: space-between;
  align-items: flex-start;

  @media all and (min-width: 982px) and (max-width: 1280px) {
    align-items: inherit;
  }

  @media all and (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }
}

.listOfFeatures {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 20px;

  @media all and (max-width: 992px) {
    text-align: center;
  }
}

.rechtek {
  position: absolute;
  top: -14px;
  left: 10px;
  right: 0;
  width: 45px;
  height: 18px;
  border-radius: 50px;
  background-color: #00c590;
  color: #fff;
  font-size: 14px;
  font-weight: 600;

  &:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 23px;
    right: 0;
    width: 2px;
    height: 30px;
    background: #fff;
    transform: rotate(60deg);
  }
}

.topsellerPlan {
  position: relative;
  border-radius: 0 0 10px 10px;
  border-top: 0;
  max-width: 270px;

  .getPlanBtn {
    bottom: 35px;
  }
}

.selectPlan {
  margin-top: 100px;
}

.topSelletContent {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  top: -52px;
  left: -1px;
  width: 101%;
  height: 52px;
  background: #fb6051;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tipForPlan {
  position: relative;
  margin-left: 30px;
  display: inline-block;
  vertical-align: bottom;
  line-height: 2;
  max-width: 120px;
  width: 100%;
  height: 28px;
  background: #fbbc05;
  border-radius: 5px;

  & * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
    font-weight: 600;
  }

  &:before {
    content: '';
    position: absolute;
    top: 8px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #fbbc05;
    border-bottom: 5px solid transparent;

  }

  @media all and (max-width: 992px) {
    display: none;
  }
}

.planNotice {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-align: center;

  @media all and (max-width: 992px) {
    color: #000;
    font-size: 14px;
  }
}

.cJakobs {
  margin-top: 68px;

  .content {
    padding-bottom: 68px;
    justify-content: center;
    border-bottom: 1px solid #ccc;

    @media all and (max-width: 992px) {
      flex-direction: column;
    }
  }

  .img {
    margin-right: 15px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;

    & img {
      width: 100%;
    }
  }

  .text {
    font-size: 16px;
    font-weight: 400;
  }

  .link {
    color: #c22a28;
    font-weight: 400;
    text-decoration: none;
  }
}

.faqsSection {
  margin-top: 100px;
  margin-bottom: 170px;

  .content {
    align-items: flex-start;

    @media all and (max-width: 992px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .description {
    @media all and (max-width: 992px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .leftColumn,
  .rightColumn {
    width: 50%;

    @media all and (max-width: 992px) {
      width: 100%;
    }
  }

  .rightColumn {
    margin-top: 50px;
  }

  .sectionTitle {
    margin-bottom: 38px;
  }

  .faqsImage {
    margin-top: 78px;
  }

  .link {
    color: #4285f4;
    font-weight: 600;
  }
}

.authForm {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .submitBtnWrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;

    .resetMargins {
      margin: 0;
    }

    .successSave {
      margin-left: 35px;
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      background-color: rgba(0, 197, 144, 0.3);
      padding: 5px 15px;
      border-radius: 3px;
    }

    .failureSave {
      margin-left: 35px;
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      background-color: rgba(161, 0, 0, 0.3);
      padding: 5px 15px;
      border-radius: 3px;
    }
  }
}

.submitBtn {
  outline: none;
  position: relative;
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
  background: #00c590;
  max-width: 295px;
  width: 100%;
  border: 0;
  color: #fff;
  transition: opacity .5s;
  font-weight: 600;
  font-size: 16px;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }

  .successPassSave {
    max-width: 295px;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: rgba(0, 197, 144, 0.3);
    padding: 5px 15px;
    border-radius: 3px;
  }

  .failurePassSave {
    max-width: 295px;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: rgba(161, 0, 0, 0.3);
    padding: 5px 15px;
    border-radius: 3px;
  }
}

.AuthBlockHeader {
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.inputLabel {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.subscribeBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentInfo {
  display: flex;
  justify-content: center;
  width: 100%;

  .infoBlock {
    width: 33%;
    padding: 10px;
  }

  .paymentInfoRow {
    display: flex;
    align-items: center;
    width: 100%;

    .paymentTitle {
      width: 50%;
      padding: 10px;
      font-weight: bold;
      text-align: right;
    }

    .paymentDescription {
      width: 50%;
      padding: 10px;
      text-align: left;
    }
  }
}
