.root {
  position: relative;
  margin: 30px auto 0;
  padding: 20px;
  max-width: 568px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.1);
}

.mainRoot {
  max-width: 735px;
}
